body {
    text-align: center;
    font-family: Arial;
    background: #fce4ec;
    color: #880e4f;
}

div {
    background: white;
    padding: 20px;
    margin: 30px auto;
    max-width: 350px;
    border-radius: 15px;
}

button {
    background: #e91e63;
    color: white;
    border: 0;
    padding: 12px 25px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background: #ad1457;
}
