*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #ffe6f2;
    color: #333;
}

/* HEADER */

header{
    padding: 60px;
    text-align: center;
    background: linear-gradient(90deg, #ff66b2, #ff99cc);
    color: white;
}

header h1{
    font-size: 35px;
}

header p{
    font-size: 20px;
}

/* MENU */

nav{
    display: flex;
    justify-content: center;
    background-color: #ff1493;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    font-weight: bold;
}

nav a:hover{
    background-color: white;
    color: #ff1493;
    border-radius: 10px;
}

/* CONTEÚDO */

.row{
    display: flex;
    flex-wrap: wrap;
}

/* LADO ESQUERDO */

aside{
    flex: 30%;
    background-color: #ffd6eb;
    padding: 20px;
}

/* CONTEÚDO PRINCIPAL */

main{
    flex: 70%;
    background-color: #fff0f7;
    padding: 20px;
}

/* IMAGENS FALSAS */

.fakeimg{
    background: linear-gradient(45deg, #ff99cc, #ff66b2);
    color: white;
    width: 100%;
    padding: 30px;
    margin-bottom: 10px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

/* ARTIGO */

article{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

article h2{
    color: #ff1493;
}

/* LISTA */

ul li{
    margin-bottom: 10px;
}

/* FOOTER */

footer{
    padding: 25px;
    text-align: center;
    background: linear-gradient(90deg, #ff1493, #ff66b2);
    color: white;
    margin-top: 20px;
}

/* RESPONSIVO */

@media screen and (max-width: 700px){

    nav{
        flex-direction: column;
    }

    .row{
        flex-direction: column;
    }

    header h1{
        font-size: 25px;
    }
}