*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#111;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.card{
    width:380px;
    background:#222;
    color:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 0 20px rgba(0,0,0,.5);
}

.card img{
    width:100%;
}

.conteudo{
    padding:20px;
}

h1{
    margin-bottom:10px;
}

p{
    margin-bottom:20px;
    line-height:1.5;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#00c896;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#00a87d;
}

#mensagem{
    margin-top:15px;
    font-weight:bold;
    color:#00ffae;
}