body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: #fff;
}

/* HEADER */
.header {
  text-align: center;
  padding: 30px;
  background: linear-gradient(90deg, #ff00cc, #3333ff);
}

/* NAV */
.nav {
  display: flex;
  justify-content: center;
  background: #111;
  padding: 10px;
}

.nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}

/* LAYOUT */
.layout {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 20px;
  padding: 20px;
}

/* POSTS */
.container {
  flex: 3;
}

.post {
  background: #1a1a1a;
  margin-bottom: 20px;
  padding: 15px;
  border-left: 5px solid #ff00cc;
  border-radius: 8px;
}

.post img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* ASIDE */
.sidebar {
  flex: 1;
  background: #111;
  padding: 15px;
  border-radius: 8px;
  height: fit-content;
}

.sidebar img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 15px;
  background: #111;
  margin-top: 20px;
}