/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body{
    font-family: 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, #f8f4ff, #f3e8ff);
    color: #333;
    line-height: 1.7;
}

/* Cabeçalho */
header{
    background: linear-gradient(135deg, #6a0dad, #9b59b6);
    color: white;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

header h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

header p{
    font-size: 1.1rem;
}

/* Menu */
nav{
    margin-top: 20px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 20px;
    transition: 0.3s;
}

nav ul li a:hover{
    background-color: white;
    color: #6a0dad;
}

/* Conteúdo */
main{
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
}

/* Seções */
section{
    background-color: white;
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

section h2{
    color: #7d3cff;
    margin-bottom: 15px;
    border-left: 6px solid #7d3cff;
    padding-left: 10px;
}

/* Personagens */
.personagem{
    background-color: #faf7ff;
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
    transition: 0.3s;
}

.personagem:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(125,60,255,0.2);
}

/* Imagens */
img{
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 15px auto;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

/* Textos */
p{
    margin-bottom: 12px;
}

span{
    color: #7d3cff;
    font-weight: bold;
}

/* Lista */
ul li{
    margin-bottom: 10px;
}

/* Aside */
aside{
    background: linear-gradient(135deg, #e9d5ff, #f5edff);
    padding: 25px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

aside h3{
    color: #6a0dad;
    margin-bottom: 10px;
}

/* Links */
a{
    color: #6a0dad;
    font-weight: bold;
}

a:hover{
    color: #9b59b6;
}

/* Rodapé */
footer{
    background: #6a0dad;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 30px;
}

/* Responsividade */
@media (max-width: 768px){

    header h1{
        font-size: 2rem;
    }

    nav ul li{
        display: block;
        margin: 10px 0;
    }

    main{
        width: 95%;
    }
}