body {
    background-color: #e3f2fd;
    color: #222;
    text-align: center;
    font-family: Arial;
}

h1 {
    color: #1565c0;
}

h2 {
    color: #1976d2;
}

.materias {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.materias p {
    background-color: #90caf9;
    padding: 15px;
    border-radius: 8px;
}

button {
    background-color: #1565c0;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}