
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #ff0707;
}


header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.header-content {
    width: 90%;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #333;
}

nav a {
    text-decoration: none;
    color: #555;
    margin-left: 15px;
}

nav a:hover {
    color: #000;
}



main {
    width: 90%;
    max-width: 800px;
    margin: 25px auto;
}



.new-post {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user div:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.user span {
    color: #888;
    margin-top: 5px;
}



.avatar {
    width: 45px;
    height: 45px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}



.post {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-header div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.post-header span {
    color: #888;
    font-size: 14px;
    margin-top: 5px;
}

.post-content {
    margin-top: 20px;
}

.post-content p {
    font-size: 16px;
}



footer {
    text-align: center;
    padding: 20px;
    color: #777;
}

