body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #2e8b57;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}

.banner img {
    width: 400px;
    border-radius: 15px;
}

button {
    background: #2e8b57;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.servicos {
    text-align: center;
    padding: 30px;
}

.card {
    display: inline-block;
    width: 300px;
    background: white;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background: #2e8b57;
    color: white;
    text-align: center;
    padding: 15px;
}