*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#202124;
    color:white;
    font-family:Arial,sans-serif;
    text-align:center;
}

header{
    background:#111;
    padding:25px;
}

section{
    margin:30px;
}

h1{font-size:40px;}
h2{font-size:32px;}
h3{font-size:28px;color:#00BFFF;}
h4{font-size:24px;}
h5{font-size:20px;}
h6{font-size:16px;}

p{
    margin:15px;
    font-size:18px;
}

img{
    width:320px;
    max-width:90%;
    border-radius:15px;
    border:3px solid white;
    margin:20px;
}

button{
    padding:12px 25px;
    background:#00BFFF;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#0088CC;
}

ul,ol{
    display:inline-block;
    text-align:left;
    margin-top:10px;
}

li{
    margin:8px 0;
}

footer{
    background:#111;
    padding:20px;
    margin-top:40px;
}