*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0b0b0b;
    color:white;
}

header{
    height:100vh;
    background:linear-gradient(rgba(0,0,0,.75),rgba(90,0,0,.6));
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:rgba(0,0,0,.4);
}

nav h1{
    color:#d10000;
    font-size:32px;
}

nav ul{
    list-style:none;
    display:flex;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

nav a:hover{
    color:#ff3030;
}

.hero{
    height:85vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h2{
    font-size:55px;
    color:#ff2a2a;
    margin-bottom:20px;
}

.hero p{
    max-width:650px;
    font-size:20px;
    margin-bottom:35px;
}

.botao{
    background:#b30000;
    color:white;
    padding:15px 35px;
    border-radius:30px;
    text-decoration:none;
    transition:.4s;
}

.botao:hover{
    background:red;
    transform:scale(1.08);
}

.secao{
    padding:80px 10%;
    text-align:center;
}

.secao h2{
    color:#d10000;
    margin-bottom:30px;
    font-size:40px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:40px;
}

.card{
    width:280px;
    background:#1b1b1b;
    border:2px solid #700000;
    border-radius:15px;
    padding:25px;
    transition:.4s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px red;
}

.card h3{
    color:#ff4040;
    margin-bottom:15px;
}

footer{
    background:#111;
    text-align:center;
    padding:25px;
    border-top:2px solid #700000;
}

@media(max-width:768px){

nav{
    flex-direction:column;
    gap:20px;
}

nav ul{
    flex-direction:column;
    text-align:center;
}

.hero h2{
    font-size:35px;
}

.hero p{
    font-size:18px;
}

}
