
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;

}

body {
       background-color: rgb(13, 112, 119);
       font-family: "Roboto Condensed", sans-serif;
       width: 100%;
       height: 100vh;

}

nav {
    background-color: rgb(74, 116, 165);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 3px rgba(0,0,0,0,4);
    position: fixed;
    width: 100%;


}

nav a {
    color: rgb(7, 50, 145);
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.5s linear ;
}

nav a:hover {
    background-color: rgb(2, 32, 58)
    color rgb(2, 32, 58)
}

header {
    width: 100%;
    background-image: linear-gradient(to bottom, #0e3a5e,#1f4a6d);
    padding: 60px 60px 60px 60px;
    color: rgb(217, 227, 235);
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.row aside {
    flex: 30%;
    color: aliceblue;
    padding: 20px;
    background-color: #0e3a5e;

}

aside img {
    width: 50%;
    height: 13%;
    border-radius: 100%;
    margin: 10px 0px;
}

aside h3 {
    font-size: 22px;
    margin: 10px 0px;
}

.img-fake {
    width: 100%;
    height: 50px;
    margin: 5px 0px;
    background-color: #3997af;
}

.autor {
    font-size: 14px;
    font-weight: bold;
}

.row main {
    flex: 70%;
    padding: 0px 20px 20px 20px;
    
}

article {
    background-color: #0e3a5e;
    color: aliceblue;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0,4);
}

article img {
    width: 30%;
    margin-bottom: 10px;
    border-radius: 5px;
}

article .autor {
    font-weight: lighter;
    margin: 5px 0px 15px 0px;
}

article h2 {
    color:aliceblue;
}

article .description {
    color: aliceblue;
    text-align: justify;
    margin-top: 10px;
}

footer {
    background-color: rgb(5, 29, 49);
    color: aliceblue;
    padding: 30px;
    text-align: center;
}

@media screen and (max-widt: 550px) {
    nav {
        flex-direction: column;
        position: relative;
    }
}

.row aside {
    width: 100%;

}

.row main {
    width: 100%;
    
}