*{margin:0;padding:0;box-sizing:border-box\}

body{
    min-height:100vh;
    font-family:Arial;
    background:linear-gradient(135deg,#020805,#0b3d25);
    color:white;
    padding:20px;
\}

.app{
    max-width:650px;
    margin:auto;
\}

.header{
    text-align:center;
    margin-bottom:20px;
\}

.logo{
    width:50px;
    height:50px;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#0c2d1b;
    border:1px solid #2bd66b;
    border-radius:12px;
    font-size:25px;
\}

.header h1{
    margin:10px 0 5px;
    color:#35dc78;
\}

.header p{
    color:#8e9b93;
\}

.painel{
    background:#07110b;
    border:1px solid #183c28;
    border-radius:12px;
    padding:20px;
\}

.formulario{
    display:flex;
    gap:8px;
    margin-bottom:20px;
\}

input{
    flex:1;
    padding:12px;
    background:#0b150f;
    color:white;
    border:1px solid #214c32;
    border-radius:7px;
    outline:none;
\}

.btn-adicionar{
    background:#20ad58;
    color:white;
    border:0;
    border-radius:7px;
    padding:0 15px;
    cursor:pointer;
\}

.estatisticas{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:8px;
    margin-bottom:20px;
\}

.estatistica{
    text-align:center;
    background:#0b160f;
    border:1px solid #183c28;
    border-radius:8px;
    padding:10px;
\}

.estatistica strong{
    display:block;
    color:#35dc78;
    font-size:20px;
\}

.estatistica span{
    color:#7f8c84;
    font-size:12px;
\}

.titulo-lista{
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;
\}

.titulo-lista span{
    color:#6e7d73;
    font-size:12px;
\}

#listaTarefas{
    list-style:none;
\}

.tarefa{
    display:flex;
    align-items:center;
    gap:10px;
    background:#0b160f;
    border:1px solid #193a27;
    border-radius:8px;
    padding:10px;
    margin-bottom:8px;
\}

.checkbox{
    width:18px;
    height:18px;
    border:2px solid #3b644b;
    border-radius:4px;
    cursor:pointer;
\}

.checkbox.checked{
    background:#20ad58;
    border-color:#20ad58;
\}

.checkbox.checked:after{
    content:"✓";
    padding-left:2px;
    font-size:11px;
\}

.texto-tarefa{
    flex:1;
\}

.concluida{
    color:#66736b;
    text-decoration:line-through;
\}

.btn-excluir{
    background:transparent;
    color:#df6969;
    border:1px solid #512525;
    border-radius:5px;
    padding:5px 8px;
    cursor:pointer;
\}

.lista-vazia{
    text-align:center;
    padding:25px;
    color:#68766e;
    border:1px dashed #294635;
    border-radius:8px;
\}

.footer{
    text-align:center;
    margin-top:15px;
    color:#536158;
    font-size:11px;
\}

@media(max-width:600px){
    .formulario{
        flex-direction:column;
    \}

    .btn-adicionar{
        height:40px;
    \}

    .estatisticas{
        grid-template-columns:1fr;
    \}
\}$0