body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#eef2f7;
}

nav{
  background:#003366;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px;
}

nav ul{
  list-style:none;
  display:flex;
  gap:20px;
}

nav a{
  color:white;
  text-decoration:none;
}

header{
  text-align:center;
  padding:40px;
  background:#0077cc;
  color:white;
}

section{
  width:80%;
  margin:20px auto;
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 8px rgba(0,0,0,0.1);
}

input{
  padding:10px;
  width:180px;
}

button{
  padding:10px 20px;
  margin-left:10px;
  cursor:pointer;
}