*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#111;
    color:#eee;
    line-height:1.6;
}

header{
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1511497584788-876760111969");
    background-size:cover;
    background-position:center;
    text-align:center;
    padding:80px 20px;
}

header h1{
    font-size:3rem;
    color:#00ff88;
}

header p{
    margin-top:10px;
}

nav{
    background:#1a1a1a;
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
}

nav ul li{
    margin:15px;
}

nav ul li a{
    color:#fff;
    text-decoration:none;
    font-weight:bold;
}

nav ul li a:hover{
    color:#00ff88;
}

.container{
    max-width:1200px;
    margin:auto;
    display:flex;
    gap:20px;
    padding:20px;
}

.posts{
    flex:3;
}

.post{
    background:#1d1d1d;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
}

.post h2{
    color:#00ff88;
    margin-bottom:10px;
}

.post img{
    width:100%;
    border-radius:10px;
    margin-bottom:15px;
}

aside{
    flex:1;
    background:#1d1d1d;
    padding:20px;
    border-radius:10px;
    height:fit-content;
}

aside h3{
    color:#00ff88;
    margin-bottom:10px;
}

aside ul{
    list-style:none;
    margin-bottom:20px;
}

aside li{
    margin:10px 0;
}

button{
    background:#00aa55;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:5px;
    cursor:pointer;
    margin-top:15px;
}

button:hover{
    background:#00cc66;
}

#resultado{
    margin-top:15px;
    font-weight:bold;
    color:#00ff88;
}

footer{
    text-align:center;
    background:#1a1a1a;
    padding:20px;
}

@media(max-width:768px){
    .container{
        flex-direction:column;
    }

    nav ul{
        flex-direction:column;
        align-items:center;
    }
}