*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
}

header{
    background:#d62828;
    color:white;
    text-align:center;
    padding:25px;
}

nav{
    background:#222;
}

nav ul{
    display:flex;
    justify-content:center;
    list-style:none;
}

nav ul li{
    margin:15px;
}

nav a{
    color:white;
    text-decoration:none;
}

nav a:hover{
    color:#d62828;
}

main{
    padding:20px;
}

section,
aside{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

img{
    width:100%;
    max-width:600px;
    display:block;
    margin:15px auto;
    border-radius:10px;
}

article{
    margin-top:15px;
    padding:10px;
    border-left:4px solid #d62828;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
}