* {
  box-sizing: border-box;
}

body {
  font-family:'Times New Roman', Times, serif;
  margin: 0;
}
    header {
        padding: 60px;
        text-align: center;
        background-color: #69965b;
        color: rgb(22, 21, 22);
 }
nav {
    display: flex;
    background-color:  S#db98bd;

}
nav a {

    color: rgb(39, 39, 37);
    padding:  5px 5px;
    text-decoration:  none;
    text-align: center;
}
nav a:hover {
    background-color: #e6b3cc;
    color: #fdebca;

}
.row {
    display: flex;
    flex-wrap: wrap;
}
aside {
    flex: 30%;
    background-color: rgb(231, 211, 213);
    padding: 10px;
}
main {
    flex: 70%;
    background-color: #d4ecf8;
    padding: 10px;
}
.fakeimg {
    background-color:#f1979ade;
    width: 100%;
    padding: 20%;
    margin-bottom: 10px;
}
footer {
  padding: 30px;
  text-align: center;
  background-color: rgb(243, 101, 120);
  color: #141212;
}

@media screen and (max-width: 700px) {

    nav {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
    }
}








    





    

