*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: #fff;
}

/* HEADER */

header{
    background: linear-gradient(135deg,#ff5e00,#ff8c00);
    text-align: center;
    padding: 30px 20px;
}

header img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
    margin-bottom: 15px;
}

header h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

header span{
    color: #ffe600;
}

header p{
    font-size: 1.1rem;
}

/* MAIN */

main{
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
}

/* BANNER */

.banner{
    margin-bottom: 30px;
}

.banner img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
}

/* SEÇÕES */

section{
    background: #1d1d1d;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
}

section h2{
    color: #ff8c00;
    margin-bottom: 15px;
    border-left: 5px solid #ff8c00;
    padding-left: 10px;
}

/* SOBRE */

.sobre p{
    line-height: 1.8;
    font-size: 1.1rem;
}

/* GALERIA */

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}

.card{
    background: #292929;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
}

.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card span{
    display: block;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

/* NOTÍCIAS */

.noticias article{
    background: #292929;
    padding: 20px;
    border-left: 4px solid #ff8c00;
    border-radius: 10px;
    margin-bottom: 15px;
}

.noticias h3{
    margin-bottom: 10px;
    color: #ffe600;
}

/* VÍDEO */

.video-box{
    display: flex;
    justify-content: center;
}

.video-box iframe{
    width: 100%;
    max-width: 900px;
    height: 500px;
    border: none;
    border-radius: 15px;
}

/* CONTATO */

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea{
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: #292929;
    color: white;
}

textarea{
    min-height: 150px;
    resize: vertical;
}

button{
    background: #ff6a00;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    background: #ff8c00;
}

/* FOOTER */

footer{
    background: #000;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

/* RESPONSIVO */

@media(max-width:768px){

    header h1{
        font-size: 2rem;
    }

    .banner img{
        height: 250px;
    }

    .video-box iframe{
        height: 250px;
    }

}