/* Estilo da página */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Título */
h1 {
    color: blue;
    font-size: 40px;
}

/* Subtítulos */
h2 {
    color: #333;
}

/* Texto */
p {
    color: #555;
    font-size: 18px;
}

/* Imagem */
img {
    width: 200px;
    border-radius: 50%;
}

/* Lista */
ul {
    list-style-type: none;
}

/* Link */
a {
    color: red;
    text-decoration: none;
}