* {
   box-sizing: border-box;
}

body{
   font-family: arial, helvetica, sans-serif;
   margin: 0;
}
header {
padding: 60px;
text-align: center;
background-color: rgba(25, 38, 151, 0.596);
color: brown;
}
 
nav{
  display: flex;
  background-color: rgb(226, 129, 129);
}
nav a {
color: darkblue;
padding: 14px 20px;
text-decoration: none;
text-align: center;
}
nav a:hover{
     background-color: rgb(189, 182, 182);
     color: rgb(55, 194, 194);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 30%;
    background-color: rgb(92, 37, 155);
    padding: 20px;
}

main {
    flex: 70%;
    background-color: rgb(171, 124, 202);
    padding: 20px;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        