* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(241, 138, 156);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    Width: 100%;
    height: 100 vh;
}

nav {
    background-color:pink;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 3px rgb(255, 150, 150);
    position: fixed;
    width: 100px;
}

nav a{
    color:violet;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.5s linear;
}

nav a:hover {
     background-color: blanchedalmond;
     color: rgb(224, 137, 221);
}

header{
    width: 100%;
    background-image:linear-gradient(to bottom, rgb(10, 9, 9), rgb(221, 152, 255)) ;
    padding: 5px 5px 5px 5px;
    color:rgb(251, 234, 207);
    text-align: center;

}

.row{
    display:flex;
    flex-wrap:wrap;
}
.row aside {
flex:30%;
color: rgb(3, 2, 3);
padding: 20px;
background-color: rgb(241, 138, 146);
}

aside img{
    width: 110px;
    height: 110px;
    border-radius: 100px;
}

aside h3{
    font-size: 22px;
    margin: 0px 0px;
}

.img-fake{
    width: 100px;
    height: 10px;
    margin: 0px 0px;
}

.autor{
    font-size: 14px;
    font-weight: bold;
}
.row main{
    flex: 50%;
    padding: 0px 10px 10px 10px;
}

article{
    background-color: rgb(241, 138, 156);
    color:blanchedalmond;
    padding: 45px;
    margin: 0px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgb(255, 255, 254);
}
article img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}
article .autor{
    font-weight: lighter;
    margin: 10px 0px 20px 0px;
}
article h2{
    color: blanchedalmond;
}
article .description{
    color: blanchedalmond;
    text-align: justify;
    margin-top: 10px;
}
footer{
    background-color: blanchedalmond;
    color: rgb(3, 2, 2);
    padding: 5px;
    text-align: center;
}
@media screen and(max-width: 500px){
    nav{
        flex-direction: column;
        position: relative;
        
    }

}