*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#222;
    color:white;
    text-align:center;
    padding:30px;
}

nav{
    background:#444;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:gold;
}

main{
    width:80%;
    margin:20px auto;
}

.perfil, .post{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

.perfil img{
    display:block;
    margin:0 auto 15px;
    border-radius:50%;
}

.perfil h2,
.post h2{
    margin-bottom:10px;
}

button{
    padding:10px 20px;
    font-size:16px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    transform:scale(1.05);
}

#mensagem{
    margin-top:15px;
    font-size:18px;
    font-weight:bold;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}