* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 8px;
    background: #04b2dd;
}

header h1 {
    color: #3b0ee0;
    font-size: 27px;
}

.links {
    display: flex;
    gap: 15px;
}

.links a {
    text-decoration: none;
    background: #e0e2e2;
    padding: 9px;
    border-radius: 7px;
    font-weight: 700;
    transition: all 0.5s ease;
}

.links a:hover, .btn-add:hover, .btn-post button:hover  {
    opacity: 0.8;
    transform: scale(0.95);
    background: #a83bac;
    color: #e0e2e2;
}

.container {
    padding: 60px;
}

.add-feed {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 25px auto;
    background: #0f93b4;
    width: 33%;
    height: auto;
    border-radius: 6px;
    box-shadow: 1px 0 10px 0 #000;
    margin-bottom: 100px;
}

.add-feed textarea {
    width: 80%;
    padding: 6px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;
    outline-color: #000;
    border-radius: 6px;
}

::placeholder {
    font-weight: bold;
    color: #000;
    font-size: 17px;
}

.btn-add {
    width: 90%;
    margin-bottom: 20px;
    padding: 11px;
    border: none;
    border-radius: 6px;
    transition: all 0.5s ease;
    font-weight: 800;
}

.post{
    margin: 25px auto;
    background: #0f93b4;
    width: 33%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 30px;
}

.avatar {
    display: flex;
    padding: 6px;
    gap: 10px;
}

.perfil {
    padding: 9px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b105f5;
    border-radius: 50%;
    font-weight: bold;
    margin-bottom: 20px;
    border: 2px solid #09ff01;
    user-select: none;
}

.infs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}

.infs span {
    font-size: 13px;
}

.conteudo img {
    width: 100%;
    object-fit: cover;
    padding: 4px;
    border-radius: 20px;
}

.btn-post {
    padding: 10px;
    display: flex;
    gap: 10px;
}

.btn-post button {
    padding: 10px;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    transition: all 0.5s ease;
    font-weight: 800;
    background-color: #978e97;
}

@media (max-width: 800px) {
    .post, .add-feed {
        width: 100%;
    }
}