* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0b0612;
    color: white;
}

header {
    background: #170b20;
    padding: 20px 8%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #d86cff;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    color: #d86cff;
}

.inicio {
    min-height: 80vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 40px;

    background:
        linear-gradient(
            135deg,
            #7b229b,
            #17091f
        );
}

.inicio h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.inicio p {
    font-size: 20px;
    margin-bottom: 25px;
}

button {
    border: none;

    padding: 12px 25px;

    border-radius: 25px;

    background: #bd39e8;
    color: white;

    font-weight: bold;

    cursor: pointer;
}

button:hover {
    background: #df64ff;
    transform: scale(1.05);
}

#personagens {
    padding: 80px 8%;
    text-align: center;
}

#personagens h2 {
    color: #dc83ff;
    font-size: 40px;
    margin-bottom: 40px;
}

.cards {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(220px, 1fr));

    gap: 25px;
}

.card {
    background: #1b1025;

    padding: 30px;

    border-radius: 20px;

    border: 1px solid #49245d;

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);

    box-shadow:
        0 10px 30px rgba(190, 50, 255, 0.3);
}

.foto {
    font-size: 60px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 28px;
    color: #d982ff;

    margin-bottom: 10px;
}

.card p {
    color: #ccc;
    margin-bottom: 20px;
}

footer {
    padding: 30px;
    text-align: center;

    background: #050308;
    color: #888;
}
