* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
font-family: Arial, sans-serif;
background: #f2f2f2;
text-align: center;
}

header {
background: #4b2e83;
color: white;
padding: 40px;
}

main {
padding: 40px;
}

section {
background: white;
max-width: 600px;
margin: auto;
padding: 30px;
border-radius: 10px;
}

h2 {
margin-bottom: 15px;
}

button {
margin-top: 20px;
padding: 12px 20px;
border: none;
border-radius: 6px;
background: #4b2e83;
color: white;
cursor: pointer;
}

button:hover {
background: #321d5c;
}

#mensagem {
margin-top: 20px;
font-weight: bold;
color: #4b2e83;
}

footer {
margin-top: 40px;
padding: 20px;
background: #222;
color: white;
}
