body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    padding: 30px;
}

h1 {
    color: #333;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid #555;
    padding: 10px 15px;
}

th {
    background-color: #ddd;
}

/* Cores das situações */
.sobrepeso {
    color: red;
    font-weight: bold;
}

.normal {
    color: green;
    font-weight: bold;
}

.abaixo {
    color: orange;
    font-weight: bold;
}