<style>
        h1 {
            color: blue;
        }

        h2 {
            color: rgb(239, 7, 7);
        }

    body {
        background-color: black;
    }

    h1 {
        color: blue;
        text-align: center;
    }

    h2 {
        color: white;
    }
</style>