body{
    background-color: aqua;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: aliceblue;
}
p{
    font-size:;
}
img{
    width: ;
    height: ;
    border-radius: ;
    border: ;
    margin-top: ;
}
button{
    background-color: beige;
    color: blue;
    border: none;
    padding: ;
    font-size: ;
    background-color: red;
}
<button:hover{
    background-color: black;
}
</style>