{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
body {
    background-color:blue (78, 3, 252);
    color:#ff0000;
    font-family: arial, helvetica, sans-serif ;
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}
p {
    color: black;
    font-size: 25px;
}
h2 {
    color: black;
    font-family: initial;
}

