/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
\}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;
    color:#222;
    line-height:1.8;
\}

/* HEADER */

header{
    background:linear-gradient(to right,#006400,#FFD700,#B22222);
    color:white;
    text-align:center;
    padding:40px;
\}

header h1{
    font-size:45px;
    margin-bottom:10px;
    text-shadow:2px 2px 5px black;
\}

header p{
    font-size:18px;
\}

/* NAV */

nav{
    background:#222;
    padding:18px;
    text-align:center;
\}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-size:18px;
    font-weight:bold;
    transition:0.3s;
\}

nav a:hover{
    color:#FFD700;
\}

/* LAYOUT */

.row{
    display:flex;
    width:95%;
    margin:25px auto;
    gap:20px;
\}

main{
    flex:75%;
\}

section{
    width:100%;
\}

/* ARTICLE */

article{
    background:white;
    padding:25px;
    margin-bottom:25px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
\}

article h2{
    color:#006400;
    border-left:6px solid #FFD700;
    padding-left:10px;
    margin-bottom:15px;
\}

article h3{
    margin-top:20px;
    margin-bottom:10px;
    color:#B22222;
\}

article p{
    text-align:justify;
    margin-bottom:15px;
    font-size:17px;
\}

article ul{
    margin-left:25px;
\}

article li{
    margin-bottom:10px;
\}

/* IMAGENS */

article img{
    width:100%;
    max-width:650px;
    display:block;
    margin:20px auto;
    border-radius:10px;
    border:5px solid #FFD700;
    transition:0.4s;
\}

article img:hover{
    transform:scale(1.03);
\}

/* ASIDE */

aside{
    flex:25%;
    background:#e8e8e8;
    padding:20px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
\}

aside h2{
    color:#006400;
    margin-bottom:15px;
    border-bottom:2px solid #B22222;
    padding-bottom:8px;
\}

aside p{
    text-align:justify;
    margin-bottom:15px;
\}

/* FOOTER */

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:25px;
    margin-top:30px;
\}

/* RESPONSIVO */

@media(max-width:768px){

.row{
    flex-direction:column;
\}

main,
aside{
    width:100%;
\}

nav a{
    display:block;
    margin:10px 0;
\}

header h1{
    font-size:32px;
\}

article img{
    width:100%;
\}

\}$0