*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}

body{
    background-color: #fa88b4;
    font-family: "Archivo", sans-serif;
    width: 100%;
    height:  100vh ;
}

nav {
    background-color: #ee98b9;
    display:flow-root;
    justify-content:center;
    align-items: center;
    box-shadow: 0px 3px 3px  rgb(228, 82, 155);
}

nav a{
    color: #ffffff;
    text-decoration: none;
    padding: 10px  15px ;
    transition:all 0,5s linear;
}

nav a:hover{
    background-color: #f77aaa;
    color: #e94e8a;
}

header{
     width: 100%;
     background-image: linear-gradient(to bottom, #f13593, #f871b5);
     padding: 60px;
     color: azure;
     text-align: center ;
}