* {
    box-sizing: border-box;
}

body {
    background-color: #575757;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 60px;
    text-align: center;
    background-color: #003cff;
    color: #ffffff;
}

nav{
    display: flex;
    background-color: #333333;
}
nav a {
    color: #0073f7;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    background-color: #0088f7;
    color: #000000;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
aside {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20%;
}
main {
    flex: 70%;
    background-color: white;
    padding: 20%;
}
.fakeimg {
    background-color: #aaaaaa;
    width: 100%;
    padding: 20%;
    margin-bottom: 10%;
}
footer{
    padding: 30%;
    text-align: center;
    background-color: #100e17;
    color: #ffffff;
}
@media screen and (max-width:700px) {
  nav { 
    flex-direction: column;
  }
  .row {
      flex-direction: column;
  }
} 
