
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Trebuchet MS', sans-serif;
}

body{
    background:linear-gradient(180deg,#0a0a0a,#1a0f2e,#000);
    color:#ffffff;
    min-height:100vh;
}

/* CABEÇALHO */
header{
    background:linear-gradient(135deg,#2b0a3d,#6a0dad,#9d4edd);
    padding:60px 20px;
    text-align:center;
    border-bottom:4px solid #c77dff;
    box-shadow:0 0 25px rgba(157,78,221,0.6);
}

header h1{
    font-size:3rem;
    text-transform:uppercase;
    letter-spacing:3px;
    text-shadow:0 0 15px #c77dff;
}

header p{
    margin-top:10px;
    color:#e0aaff;
}

/* MENU */
nav{
    background:#12091f;
    border-bottom:2px solid #7b2cbf;
}

nav ul{
    display:flex;
    justify-content:center;
    list-style:none;
    flex-wrap:wrap;
}

nav li{
    padding:18px 25px;
}

nav a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#c77dff;
    text-shadow:0 0 10px #c77dff;
}

/* LAYOUT */
.container{
    max-width:1200px;
    margin:30px auto;
    display:flex;
    gap:25px;
    padding:20px;
}

/* COLUNA LATERAL */
.sidebar{
    flex:1;
    background:rgba(20,20,20,0.95);
    border:2px solid #7b2cbf;
    border-radius:15px;
    padding:20px;
    box-shadow:0 0 20px rgba(123,44,191,0.3);
}

.sidebar h2,
.sidebar h3{
    color:#c77dff;
    margin-bottom:15px;
}

/* IMAGENS */
.img-box{
    width:100%;
    height:220px;
    overflow:hidden;
    border-radius:10px;
    border:2px solid #9d4edd;
    margin:15px 0;
}

.img-box img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* CONTEÚDO PRINCIPAL */
.content{
    flex:3;
}

.card{
    background:rgba(18,18,18,0.95);
    margin-bottom:25px;
    padding:25px;
    border-radius:15px;
    border-left:6px solid #9d4edd;
    box-shadow:0 0 20px rgba(157,78,221,0.25);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 0 30px rgba(199,125,255,0.5);
}

.card h2{
    color:#c77dff;
    margin-bottom:15px;
    text-transform:uppercase;
}

.card p,
.card li{
    line-height:1.8;
    color:#e8e8e8;
}

.card ul{
    padding-left:20px;
}

/* RODAPÉ */
footer{
    background:#12091f;
    text-align:center;
    padding:25px;
    border-top:2px solid #7b2cbf;
    color:#c77dff;
}

/* SCROLLBAR */
::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#111;
}

::-webkit-scrollbar-thumb{
    background:#7b2cbf;
    border-radius:10px;
}

/* RESPONSIVIDADE */
@media (max-width:768px){

    .container{
        flex-direction:column;
    }

    nav ul{
        flex-direction:column;
        text-align:center;
    }

    header h1{
        font-size:2rem;
    }

    .card,
    .sidebar{
        width:100%;
    }
}