
body{
    font-family: Arial, sans-serif;
    background: #FFD700;
    color: #333;
    text-align: center;
    margin: 0;
}

header{
    background: white;
    padding: 20px;
}

.container{
    width: 80%;
    margin: auto;
    padding: 20px;
}

.card{
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
