@import url('https://fonts.googleapis.com/css2?fami=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');*{
padding: 0;
margin: 0;
box-sizing: border-box;


}


body{

    background-color: #072a49;
    font-family: "Playfair Display", serif;
    
    width: 100%;
    height: 100vh;

}
nav{
    background-color: #072a49;
display:flex ;
justify-content: center;
align-items: center;
box-shadow: 0px 3px 3px rgba(red, green, blue, alpha);
}

nav a {
    color: floralwhite;
    text-decoration: none;
    padding: 10px 10px;
    transition: all 0.5s linear;
}

nav a:hover{
    background-color: #072a49;
  color: aqua;  
}