@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: forestgreen;
    font-family: "Cardo", serif;
    width: 100%;
    min-height: 100vh;
}

nav {
    background-color: rgb(12, 167, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav a { 
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.5s linear;
}

nav a:hover {
    background-color: darkolivegreen;
    color: black;
}

header {
    width: 100%;
    background-image: linear-gradient(to bottom, #1d4900, #2edd54, #000);
    padding: 40px;
    color: #1d4900;
    text-align: center;
    margin-top: 40px; /* Compensate for fixed nav */
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

aside {
    flex: 1 1 30%;
    color: aquamarine;
    padding: 10px;
    background-color: #4e050094;
    border-radius: 10px;
    border-left: 6px solid #2edd54;
}

aside img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.img-fake {
    width: 100%;
    height: 80px;
    margin: 5px 0px;
    background-color: green;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

aside h3 {
    font-size: 22px;
    margin: 10px 0px; 
}

.autor {
    font-size: 14px; 
    font-weight: bold;
}

main {    
    flex: 1 1 65%;
}

article {
    background-color: #1d4900;
    color: #25ad42;
    padding: 20px;
    border-radius: 20px;
    margin: 20px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    width: 100%;
    border-left: 6px solid #2edd54;
}

article img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

article .autor {
    font-weight: lighter;
    margin: 5px 0px 15px 0px;
}

article h2 {
    color: aliceblue;
}

article .description {
    color: aliceblue;
    text-align: justify;
    margin-top: 10px;
}

footer {
    background-color: #1d4900;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}


@media screen and (max-width:550px)  {




}