</title>

    <style>
        body{
                background-color: #f6f7e7;
                font-size: 1px;
                
            }
            h1 {
            color:#9fd7fc;
            font-size: 50px;
                
            }
            h2 {
            color:#9fd7fc;
            font-size: 20px;
                
            }
            h3 {
            color:rgb(0, 0, 0);
            font-size: 16px;
                
            }
            p{
            color:rgb(0, 136, 255);
            font-size: 16px;
                
            }
            li{
            color:rgb(255,525, 255);
                font-size: 16px;
            }
.container1 {
    display: flex;        
    justify-content: flex-start; 
    gap: 15px;              
    margin: 20px 0;       
    width: 100%;            
}


footer {
    background-color: #9fd7fc; 
    color: #ffffff; 
    text-align: center; 
    padding: 20px 10px; 
    margin-top: 40px; 
    font-size: 14px;
    border-radius: 10px;
}

footer p {
    margin: 5px 0; 
    color: #ffffff !important;
}

    </style>