/* RESET */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#eef3f8;
color:#222;
}

/* CABEÇALHO */
header{
background:linear-gradient(90deg,#0085ff,#ffcc00,#00b140,#ff3b30);
color:white;
text-align:center;
padding:30px;
}

header h1{
font-size:42px;
}

header p{
margin-top:10px;
}

/* MENU */
nav{
background:#0f172a;
padding:15px;
}

nav ul{
display:flex;
justify-content:center;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#ffcc00;
}

/* BANNER */
.banner{
padding:60px;
text-align:center;
background:white;
}

.banner h2{
color:#0057b8;
font-size:34px;
}

.banner span{
display:block;
margin-top:10px;
color:#666;
}

/* CONTEÚDO */
main{
padding:30px;
}

.modalidades{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
}

/* CARDS */
.card{
background:white;
width:300px;
border-radius:12px;
overflow:hidden;
box-shadow:0 5px 15px rgba(0,0,0,.15);
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card img{
width:100%;
height:180px;
object-fit:cover;
}

.card-content{
padding:20px;
}

.card h3{
color:#0057b8;
}

.card span{
display:block;
margin:10px 0;
color:#666;
}

button{
width:100%;
padding:12px;
background:#0057b8;
color:white;
border:none;
cursor:pointer;
border-radius:8px;
}

button:hover{
background:#003d82;
}

/* LATERAL */
aside{
background:#ffffff;
padding:20px;
margin:30px;
border-radius:10px;
}

/* RODAPÉ */
footer{
background:#0f172a;
color:white;
text-align:center;
padding:20px;
margin-top:30px;
}