* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: #111;
}

.relogio {
    text-align: center;
    background: #222;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 30px #000;
}

h1 {
    color: white;
    margin-bottom: 30px;
}

#hora {
    font-size: 70px;
    font-weight: bold;
    color: #00ff88;
}

#data {
    margin-top: 20px;
    color: #ccc;
    font-size: 20px;
}