*{
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e9ff5;
    font-family: "archivo", sans-serif;
    width: 100vh;
}


nav a {
    color: #eb0000;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    color: #43c0ff;
}
  
nav a {
    color: #3875e7;
    text-decoration: none;
    padding: 10px 15px;
transition: all 0.5s linear;
}
nav a {
    color: #d10c0c;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    color: #00aaff;
    color:#000000
}

header {
width: 100%;
background-image: linear-gradient(to bottom, #124979,#000 ) ;


}