body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header, footer {
  background: #007BFF;
  color: white;
  text-align: center;
  padding: 15px;
}

main {
  padding: 20px;
}

button {
  background: #ff0077;
  color: rgb(201, 45, 141);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}