*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
background-color: rgb(48, 159, 159);
font-family: "Merriweather", serif;
width: 100%;
height: 100vh ;
}

nav {
      background-color: rgb(63, 174, 174);
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
      position: fixed;
      width: 100%;
}

nav a {
      color: aliceblue;
      text-decoration: none;
      padding: 10px 15px;  
      transition: all 0.5s linear;
}

nav a:hover{
      background-color: rgb(71, 167, 167);
      color: rgb(42, 188, 188);
}

header {
      width: 100%;
      background-image: linear-gradient(to bottom, #4950b1 #304ebc );
      padding: 80px 60px 60px 60px;
      color: #ffffff;
      text-align: center;
}

.row {
      display: flex ;
      flex-wrap: wrap ;
}

.row aside {
  flex: 30% ;
  color: rgb(65, 201, 201);
  padding: 20px;
  background-color: rgb(242, 220, 191);
}

aside img {
      width: 100px;
      height: 100px;
      border-radius: 100px ;
}

aside h3 {
      font-size: 22px;
      margin: 10px 0px;
}

.img-fake {
      width: 100%;
      height: 50px;
      margin: 5px 0px;
      background-color: rgb(168, 242, 217);
}
  

.autor {
      font-size: 14px;
      font-weight: bold;
}
.row main {
    flex: 70%;
    padding: 0px 20px 20px 20px;
}


article {
      background-color: rgb(253, 240, 222);
      color: rgb(187, 243, 224);
      padding: 20px;
      margin: 20px 0px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(77, 172, 204, 0.4);
}

article img {
      width: 100%;    
      margin-bottom: 10px;
      border-radius: 5px;
}

article .autor {
      font-weight: lighter;
      margin: 5px 0px 15px 0px
}

article h2{
      color: rgb(249, 220, 183);
}

article .discription {
color: rgb(170, 211, 247);
text-align: justify;
margin-top: 10px;
}

footer {
      background-color: hsl(180, 87%, 73%);
      color: #a5aaf2;
      padding: 30px;
     text-align: center; 
}

 @media screen and (max-width: 550px)  {
      
 nav {
       flex-direction: column;
       position: relative;
 }
    
  .row aside {
      flex: 100%;
      text-align: center;
  }

   .row aside {
      flex: 100%
  }
  
}