* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #141414;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0,0,0,0.8);
}

header h1 {
    color: #e50914;
    font-size: 2rem;
}

header button {
    background: #e50914;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.8)),
                url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba');
    background-size: cover;
    background-position: center;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero button {
    background: #e50914;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.catalogo {
    padding: 40px;
}

.catalogo h2 {
    margin-bottom: 20px;
}

.filmes {
    display: flex;
    gap: 15px;
    overflow-x: auto;
}

.card {
    min-width: 200px;
    height: 300px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.08);
    background: #555;
}.navbar{
    background:#000;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:#e50914;
    font-size:30px;
    font-weight:bold;
}

.menu{
    display:flex;
    list-style:none;
    gap:20px;
}

.menu a{
    color:white;
    text-decoration:none;
}

.login{
    background:#e50914;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:4px;
    cursor:pointer;
}.sidebar {
    width: 250px;
    background: #1f1f1f;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.sidebar h3 {
    margin-bottom: 15px;
    color: #e50914;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 10px 0;
    cursor: pointer;
}

.sidebar li:hover {
    color: #e50914;
}.filme {
    width: 250px;
    background: #1f1f1f;
    color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.filme img {
    width: 100%;
    border-radius: 5px;
}

.filme h3 {
    margin: 10px 0;
}

.filme button {
    background: #e50914;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}