*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #87309c;
    width: 100%;
    height: 100vh;
}

nav {
    background-color: #6b267c;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background-color:   #cc4bbb;
    color: #000000;
    transition: all 0.2s linear ;
}

header {
    width: 100%;
    background-image: linear-gradient(to bottom, #ce4398, #c42daa );
    padding: 70px 40px 40px 40px;
    color: #fff;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row aside{
    flex: 30%;
    color: #fff;
    padding: 20px;
    background-color: #7a2c8d;
}

.autor{
    font-size: 14px;
    font-weight: bold;
}

aside h3{
    font-size: 23px;
    margin: 10px 0px;
}

.row main{
    flex: 70%;
    padding: 0px 20px 20px 20px;
}

article{
    background-color: #7a2c8d;
    color: #f0f0f0;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

article img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

article .autor {
    font-weight: lighter;
    margin: 5px 0px 15px 0px;
}

article h2 {
    color: #fff;
}

article .description{
    color: #fff;
    text-align: justify;
    margin-top: 10px;
}

footer{background-color: #5e226d;
    color: #fff;
    padding: 30px;
    text-align: center;
}

@media screen and (max-width: 550px) {
    nav {
        flex-direction: column;
        position: relative;
    }

    .row aside {
        flex: 100%;
        text-align: center;
    }

    .row main {
        flex: 100%;
    }
}