/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f2f6fc;
    color:#222;
}

/* CABEÇALHO */
header{
    background:#0f4c81;
    color:white;
    text-align:center;
    padding:25px;
}

header h1{
    font-size:36px;
}

/* MENU */
nav{
    background:#083358;
    padding:15px;
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
}

nav li{
    margin:0 20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#7ed957;
}

/* CONTEÚDO */
main{
    padding:30px;
}

.titulo{
    text-align:center;
    margin-bottom:30px;
}

/* CARDS */
.painel{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    width:280px;
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.card h2{
    color:#0f4c81;
}

.valor{
    font-size:32px;
    color:#27ae60;
    margin-top:10px;
}

/* BOTÃO */
button{
    margin-top:15px;
    width:100%;
    padding:12px;
    background:#27ae60;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#1d8348;
}

/* RODAPÉ */
footer{
    background:#083358;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:40px;
}