*{
    box-sizing: border-box;
\}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #fff5f8;
\}

/* HEADER */

header{
    padding: 40px;
    text-align: center;
    background: #e91e63;
    color: white;
\}

header h1{
    font-size: 40px;
\}

/* NAV */

nav{
    display: flex;
    background-color: #c2185b;
\}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
\}

nav a:hover{
    background-color: #f8bbd0;
    color: black;
\}

/* ROW */

.row{
    display: flex;
    flex-wrap: wrap;
\}

/* ASIDE */

aside{
    flex: 30%;
    background-color: #fce4ec;
    padding: 20px;
\}

aside img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
\}

/* MAIN */

main{
    flex: 70%;
    background-color: white;
    padding: 20px;
\}

article{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
\}

article img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
\}

h2{
    color: #c2185b;
\}

h3{
    color: #ad1457;
\}

p{
    line-height: 1.6;
    text-align: justify;
\}

/* FOOTER */

footer{
    padding: 20px;
    text-align: center;
    background-color: #c2185b;
    color: white;
\}

/* RESPONSIVO */

@media screen and (max-width:700px){

    .row,
    nav{
        flex-direction: column;
    \}

\}$0