* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif ;
}

header {
    background-color: #eb0d0d ;
    padding: 60px;
    text-align: center;
    color: rgb(27, 26, 26);
    font-weight: bold;
}

nav {
    display: flex;
    background-color: #b81515;
}

nav a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: #000;
}

#row {
    display: flex;
    flex-wrap: wrap;
}

.fakeimage {
  background-color: #ccc;
  width: 200px;
  height: 150px;
  display: inline-block;
  margin: 10px;
  text-align: center;
  line-height: 150px;
  font-weight: bold;
  color: #333;
  border-radius: 8px;

}

aside {
    flex: 30%;
  ATA DE REUNIÃO DE DIROTORIA DA TECNICO INFORMATICA
REALIZADA EM 26/06\2026
CNPJ n° 18.005.765/0001-01
Aos 29 dias do mês de maio de 2026, na sede da sociedade, localizada á Santa helena, reuniram-se os membros da diretoria da técnico informática, sob o comando do diretor presidente Carla, o qual informou a necessidade de instalação de uma filial da sociedade á Santa helena, para desenvolvimento de qualquer das atividades constantes do objeto social da companhia, o que foi aprovado por unanimidade, sendo autorizado a diretora presidente a tomar todas as providências administrativas necessárias ao cumprimento das deliberações desta reunião. Nada mais havendo a ser tratado, foi encerrada a reunião e lavrada esta ata, após ter sido lida e achada conforme, que vai assinada pelos presentes.
UNIÃO-PI 26 DE MAIO DE 2026

JAMILLY
CARLA MARIA 