body {
    margin: 0;
    padding: 30px;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background: #1e293b;
    border-radius: 15px;
    text-align: center;
}

h1 {
    color: #22c55e;
}

p {
    color: #cbd5e1;
}

input {
    width: 90%;
    padding: 12px;
    margin: 8px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

button {
    width: 95%;
    padding: 14px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: #22c55e;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}

#resultado {
    margin-top: 25px;
    padding: 20px;
    background: #0f172a;
    border-radius: 8px;
    line-height: 1.8;
}