* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #6f94b1ff;
  color: #333333ff;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.6;
}
header {
  background-color: #93a0aeff;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #2a2525ff;
  font-family: "Arial", sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
}

p {
  font-family: "Verdana", sans-serif;
  font-size: 18px;
}

.autor-data {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
nav {
  background-color: #4a90e2;
  padding: 10px;
  text-align: center;
}

a {
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  color: #ffededff;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

nav a:hover {
  background-color: #007ccfff;
  transition: background-color 0.3s ease;
}

section {
  background-color: #bebabaff;
  padding: 20px;
  margin: auto;
  width: 800px;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
article {
  background-color: #f4f4f4ff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(213, 210, 210, 0.1);
}

section h2 {
  font-family: "Arial", sans-serif;
  font-size: 28px;
  color: #2a2525ff;
  margin-bottom: 15px;
}
section h3 {
  font-family: "Arial", sans-serif;
  font-size: 22px;
  color: #4a90e2ff;
  margin-bottom: 10px;
}
section p {
  line-height: 1.6;
  color: #333333ff;
}

section img {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}

footer {
  background-color: #6f94b1ff;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  color: #ffffff;
  font-weight: bold;
}
