*{
    box-sizing: border-box;

}
body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div.logo img{
    align-items: center;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}
header{
    background-color: lch(12.69% 2.02 19.86);
    color: #e6d1d1;
    padding: 20px;
}
a{
    color: #e6d1d1;
    text-decoration: none;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
footer{
    background-color: lch(12.69% 2.02 19.86);
    color: #e6d1d1;
    padding: 20px;
}
footer ul li a{
    list-style: none;
    padding: 0;
    color: #e6d1d1;
}
