* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    background: linear-gradient(
        135deg,
        #101820,
        #173b4d
    );

    min-height: 100vh;

    padding: 40px 20px;
}

.container {
    max-width: 900px;

    margin: auto;
}


/* TÍTULO */

h1 {
    text-align: center;

    color: #00c896;

    margin-bottom: 30px;
}


/* CARD */

.card {
    background-color: white;

    padding: 25px;

    border-radius: 12px;

    margin-bottom: 25px;

    box-shadow:
        0 5px 15px rgba(0, 0, 0, 0.3);
}

.card h2 {
    color: #173b4d;

    margin-bottom: 20px;
}


/* FORMULÁRIO */

.formulario {
    display: grid;

    grid-template-columns:
        1fr 1fr 1fr auto;

    gap: 10px;
}

input {
    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 6px;

    font-size: 15px;

    outline: none;
}

input:focus {
    border-color: #00a878;
}


/* BOTÃO */

button {
    padding: 12px 18px;

    border: none;

    border-radius: 6px;

    background-color: #00a878;

    color: white;

    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

button:hover {
    background-color: #008c65;
}


/* TABELA */

table {
    width: 100%;

    border-collapse: collapse;

    margin-top: 10px;
}

th {
    background-color: #173b4d;

    color: white;

    padding: 12px;

    text-align: center;
}

td {
    padding: 12px;

    text-align: center;

    border-bottom: 1px solid #ddd;
}


/* LINHAS */

tr:nth-child(even) {
    background-color: #f5f5f5;
}


/* SITUAÇÃO */

.sobrepeso {
    color: #e53935;

    background-color: #ffe5e5;

    font-weight: bold;

    border-radius: 5px;
}

.normal {
    color: #219653;

    background-color: #e3f8ea;

    font-weight: bold;

    border-radius: 5px;
}

.abaixo {
    color: #e67e22;

    background-color: #fff1df;

    font-weight: bold;

    border-radius: 5px;
}


/* CELULAR */

@media (max-width: 700px) {

    .formulario {
        grid-template-columns: 1fr;
    }

    table {
        font-size: 13px;
    }

    th,
    td {
        padding: 8px;
    }

}