body {
        font-family: Arial;
            background-color: #0f172a;
                display: flex;
                    justify-content: center;
                        align-items: center;
                            height: 100vh;
                            }

                            .card {
                                background: white;
                                    padding: 20px;
                                        border-radius: 15px;
                                            width: 320px;
                                            }

                                            h2 {
                                                margin-bottom: 10px;
                                                }

                                                .linha {
                                                    margin-top: 15px;
                                                    }

                                                    input {
                                                        width: 70%;
                                                            padding: 8px;
                                                                margin-top: 5px;
                                                                }

                                                                button {
                                                                    padding: 8px;
                                                                        background-color: #10b981;
                                                                            color: white;
                                                                                border: none;
                                                                                    cursor: pointer;
                                                                                    }

                                                                                    button:hover {
                                                                                        background-color: #059669;
                                                                                        }
}