*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f2f2f2;
}

header{
    background:#0b7a20;
    color:#fff;
    text-align:center;
    padding:30px;
}

nav{
    background:#055c18;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 20px;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:#ffd700;
}

.hero{
    height:350px;
    background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("https://images.unsplash.com/photo-1547347298-4074fc3086f0?auto=format&fit=crop&w=1200&q=80");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero h2{
    color:white;
    font-size:42px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    padding:50px;
}

.card{
    background:white;
    width:300px;
    padding:20px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    color:#0b7a20;
    margin-bottom:10px;
}

footer{
    background:#0b7a20;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}