body{
    background: #c8a2ff;
    color: #4b0082;
    text-align: center
    font-family: Arial
    padding: 40px;
}

select, button{
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

button{
    background: #6a0dad;
    color: white;
    border: none;
}