/* Estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #8e37eb;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #1a191d;
    color: white;
    padding: 20px;
}

.header-content {
    max-width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 28px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

/* Conteúdo */
main {
    max-width: 700px;
    margin: 30px auto;
}

/* Área de nova publicação */
.new-post {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Usuário */
.user,
.post-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user span,
.post-header span {
    display: block;
    color: #4d4949;
    font-size: 14px;
    margin-top: 4px;
}

/* Avatar */
.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #c698f7;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Botão */
button {
    background-color: #7c3aed;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #342a44;
}

/* Publicação */
.post {
    background-color: rgb(247, 247, 247);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.post img {
    border: 3px solid white;
    border-radius: 10px;
}


.post-text {
    margin: 20px 0;
    font-size: 17px;
}

/* Imagem da publicação */
.post img {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    display: block;
    margin: auto;
}
