

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #101820, #243b55);
    color: white;
    text-align: center;
}

header {
    background-color: #0b1320;
    padding: 30px 20px;
}

header h1 {
    color: #00e6a8;
    font-size: 38px;
    margin-bottom: 10px;
}

header p {
    font-size: 17px;
    color: #ddd;
}

nav {
    background-color: #162638;
    padding: 18px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #00e6a8;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.card {
    background-color: #1c2d40;
    padding: 30px;
    margin: 25px 0;
    border-radius: 15px;
    box-shadow: 0 5px 15px #0005;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    color: #00e6a8;
    margin-bottom: 20px;
    font-size: 26px;
}

.card p {
    font-size: 18px;
    line-height: 1.8;
}

.botao {
    display: inline-block;
    margin-top: 25px;
    padding: 14px 28px;
    background-color: #00e6a8;
    color: #101820;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.botao:hover {
    background-color: #00bd8b;
    transform: scale(1.05);
}

footer {
    background-color: #0b1320;
    padding: 25px;
    margin-top: 40px;
    color: #aaa;
}