 padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:  rgb(65, 88, 88);
    article: .autor
    fort- weight:lighter;
    margin:spx 0px 15px 0px;

article h2 
   color: #ffffff;

article.description

   color: #ffffff;
   text-aling: justify;
   margin=top: 10px