* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 60px;
    text-align: center;
    background-color: #bc1a78;
    color: #ffffff;
}

nav {
    display: flex;
    background-color: #ce0f9409;
}

nav a {
    color: #ffffff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #dddddd33;
    color: #000000;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

main {
    flex: 70%;
    background-color: rgb(206, 23, 99);
    padding: 20px;
}

.fakeimg {
    background-color: #9e1354;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

footer {
    padding: 30px;
    text-align: center;
    background-color: #c728b2;
    color: #ffffff;
}

@media screen and (max-width: 700px) {
    nav {
        flex-direction: column;
    }
    
    .row {
        flex-direction: column;
    }
}