{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header {
    padding: 60px;
    text-align: center;
    background-color: indigo;
    color: cornflowerblue;
}
    nav {
        display: flex;
        background-color: cyan;
    }
    nav a {
        color: aliceblue;
        padding: 14px 20px;
        text-decoration: none;
        text-align: center;
    }
    nav a:hover {
        background-color: black;
        color: aliceblue;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    aside {
        flex: 30%;
        background-color: aquamarine;
        padding: 20px;
    }
    main {
        flex: 70%;
        background-color: white;
        padding: 20px;
    }
    .fakeimg {
        background-color: beige;
        width: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    footer {
        padding: 30px;
        text-align: center;
        background-color: darkcyan;
        color: blanchedalmond;
    }
    @media screen and (max-width:700px) {
        nav {
            flex-direction: column;
        }
        .row {
            flex-direction: column;
        }
    }