body{
    margin:0;
    font-family:Arial;
    background:#0f0f0f;
    color:white;
}

div{
    max-width:1000px;
    margin:auto;
}

header{
    background:#8b0000;
    text-align:center;
    padding:20px;
}

nav{
    background:#222;
    text-align:center;
    padding:10px;
}

nav a{
    color:white;
    margin:10px;
    text-decoration:none;
}

main{
    display:flex;
    gap:20px;
    padding:20px;
}

section{
    flex:2;
}

article{
    background:#1c1c1c;
    padding:10px;
    margin-bottom:10px;
    border-radius:8px;
}

aside{
    flex:1;
    background:#2a2a2a;
    padding:10px;
    border-radius:8px;
}

footer{
    text-align:center;
    padding:15px;
    background:#8b0000;
}