*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Orbitron',sans-serif;
scroll-behavior:smooth;
}

body{
background:linear-gradient(135deg,#01040f,#071c47,#0b5ed7,#02152d);
background-size:400% 400%;
animation:fundo 12s ease infinite;
color:#fff;
overflow-x:hidden;
}

@keyframes fundo{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

header{
padding:50px 20px;
text-align:center;
background:rgba(0,0,0,.45);
backdrop-filter:blur(12px);
border-bottom:2px solid rgba(0,191,255,.4);
}

header h1{
font-size:65px;
font-weight:900;
letter-spacing:6px;
text-transform:uppercase;
background:linear-gradient(90deg,#fff,#6dd5fa,#fff,#00bfff,#fff);
background-size:300%;
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
animation:brilho 5s linear infinite;
filter:drop-shadow(0 0 12px #00bfff);
}

@keyframes brilho{
0%{background-position:0%;}
100%{background-position:300%;}
}

header p{
margin-top:15px;
font-size:18px;
color:#d9e8ff;
}

.banner{
text-align:center;
padding:70px 20px;
max-width:900px;
margin:auto;
}

.banner h2{
font-size:42px;
margin-bottom:20px;
color:#8fd3ff;
}

.banner p{
font-size:18px;
line-height:1.8;
color:#eee;
}

button{
margin-top:30px;
padding:15px 35px;
border:none;
border-radius:40px;
cursor:pointer;
font-size:17px;
font-weight:bold;
background:linear-gradient(90deg,#00bfff,#4facfe);
color:white;
transition:.4s;
box-shadow:0 0 20px rgba(0,191,255,.6);
}

button:hover{
transform:translateY(-5px) scale(1.05);
box-shadow:0 0 35px cyan;
}

#curiosidade{
margin-top:25px;
font-size:18px;
color:#ffe082;
font-weight:bold;
}

.personagens{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
padding:50px;
}

.card{
background:rgba(255,255,255,.08);
backdrop-filter:blur(12px);
border:1px solid rgba(255,255,255,.15);
padding:25px;
border-radius:20px;
transition:.4s;
box-shadow:0 10px 25px rgba(0,0,0,.35);
}

.card:hover{
transform:translateY(-10px) scale(1.03);
box-shadow:0 0 25px #00bfff;
border-color:#00bfff;
}

.card h2{
color:#79d7ff;
margin-bottom:15px;
font-size:24px;
}

.card p{
line-height:1.6;
color:#e5e5e5;
}

.card::after{
content:"Nível de Poder";
display:block;
margin-top:20px;
font-size:13px;
color:#9edcff;
}

.card::before{
content:"";
display:block;
width:100%;
height:8px;
border-radius:10px;
background:linear-gradient(90deg,#00bfff,#7df9ff);
margin-bottom:18px;
box-shadow:0 0 10px cyan;
}

footer{
margin-top:60px;
padding:35px 20px;
text-align:center;
background:rgba(0,0,0,.8);
border-top:2px solid #00bfff;
}

footer h3{
color:#7fd8ff;
margin-bottom:15px;
}

footer p{
margin:6px 0;
color:#ddd;
font-size:15px;
}

footer span{
color:#00d4ff;
font-weight:bold;
}

@media(max-width:768px){

header h1{
font-size:42px;
letter-spacing:3px;
}

.banner h2{
font-size:30px;
}

.banner p{
font-size:16px;
}

.personagens{
padding:25px;
}

button{
width:100%;
max-width:300px;
}

}