* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    color: #536291;
}

header {
    background-color: aliceblue;
    border-bottom: 1px solid #d2ddff;
}

.header-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #570f69;
    font-size: 24px;
}

header nav {
    display: flex;
    gap: 12px;
}

header a {
    color: #d2ddff;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    color: #570f69;
}

main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
}

.user, .post-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 45px;
    height: 45px;
    background-color: #b654ce;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f3acac;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50%;
}

.user span, .post-header {
    display: block;
    margin-top: 3px;
    font-size: 13px;
    color: #777777;
}

.new-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    background-attachment: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 8px #dddddd;
}

.post {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 8px #dddddd;
    border-radius: 10px;
}

.post-text {
    margin: 8px 0px;
}

.post img {
    display: block;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

button {
    background-color: #5f17dd;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 10px 18px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

footer {
    text-align: center;
    font-size:  14px;
    padding: 20px;
    background-color: #777777;
}
