body {
    background: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

header {
    background: red;
    padding: 30px;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background: red;
    color: white;
}