body {
    font-family: Arial;
    background: linear-gradient(-45deg, #000428, #004e92, #000428);
    background-size: 400% 400%;
    animation: fundo 8s infinite;
    color: white;
    margin: 0;
}

header {
    text-align: center;
    padding: 20px;
}

.escola {
    color: cyan;
}

.titulo {
    font-size: 40px;
    animation: neon 1.5s infinite alternate;
}

nav {
    background: rgba(255,255,255,0.1);
    padding: 10px;
    text-align: center;
}

nav li {
    display: inline;
    margin: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

img {
    width: 500px;
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 20px;
    transition: 0.5s;
}

img:hover {
    transform: scale(1.05);
}

.card {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    text-align: center;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.05);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 20px;
}

@keyframes fundo {
    0% {background-position:0% 50%;}
    50% {background-position:100% 50%;}
    100% {background-position:0% 50%;}
}

@keyframes neon {
    from {text-shadow: 0 0 10px cyan;}
    to {text-shadow: 0 0 30px cyan;}
}