* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f8f2;
    color: #333;
    line-height: 1.6;
}

header {
    background: linear-gradient(135deg, #7a1494, #770fa0);
    color: white;
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}

nav {
    background-color: #a36699;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #e6c8d6;
}

main {
    max-width: 1100px;
    margin: auto;
    padding: 30px 20px;
}

.destaque {
    background-color: white;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.destaque h2 {
    color: #411a6d;
    margin-bottom: 15px;
}

section h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #742e7d;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card .emoji {
    font-size: 70px;
    margin-bottom: 10px;
}

.card h3 {
    color: #9a17bb;
    margin-bottom: 10px;
}

.cuidados,
.curiosidade {
    margin-top: 40px;
    padding: 30px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.curiosidade {
    background-color: #e8f5e9;
}

footer {
    background-color: #551c7a;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 30px;
}

/* Responsividade para celulares */
@media (max-width: 800px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    header h1 {
        font-size: 32px;
    }

    nav {
        gap: 15px;
        flex-wrap: wrap;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}