*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

header{
    background:#1565c0;
    color:white;
    text-align:center;
    padding:25px;
}

nav{
    background:#1976d2;
    padding:15px;
}

nav ul{
    display:flex;
    justify-content:center;
    gap:20px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.container{
    display:flex;
    gap:20px;
    padding:20px;
}

main{
    flex:3;
}

article{
    background:white;
    padding:20px;
    border-radius:10px;
}

.imagem-noticia{
    text-align:center;
}

.imagem-noticia img{
    width:350px;
    max-width:100%;
    margin:15px 0;
}

aside{
    flex:1;
    background:white;
    padding:20px;
    border-radius:10px;
}

.card{
    background:#f8f9fa;
    padding:10px;
    margin-bottom:15px;
    border-radius:5px;
}

.destaque{
    color:#1565c0;
    font-weight:bold;
}

p{
    line-height:1.7;
    margin-bottom:15px;
}

button{
    background:#1565c0;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0d47a1;
}

#mensagem{
    margin-top:15px;
    font-weight:bold;
    color:#1565c0;
}

footer{
    background:#1565c0;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}