accessKey
: 
""
attributeStyleMap
: 
StylePropertyMap {size: 0}
attributes
: 
NamedNodeMap {0: lang, lang: lang, length: 1}
autocapitalize
: 
""
autofocus
: 
false
baseURI
: 
"https://programe-io.github.io/MentoriaTech-Avaliacoes-2026/79190486412/aval-2/"
childElementCount
: 
2
childNodes
: 
NodeList(3) [head, text, body]
children
: 
HTMLCollection(2) [head, body]
classList
: 
DOMTokenList [value: '']
className
: 
""
clientHeight
: 
945
clientLeft
: 
0
clientTop
: 
0
clientWidth
: 
1350
contentEditable
: 
"inherit"
currentCSSZoom
: 
1
customElementRegistry
: 
CustomElementRegistry {}
dataset
: 
DOMStringMap {}
dir
: 
""
draggable
: 
false
elementTiming
: 
""
enterKeyHint
: 
""
firstChild
: 
head
firstElementChild
: 
head
focusGroup
: 
DOMTokenList [value: '']
focusGroupStart
: 
false
hidden
: 
false
id
: 
""
inert
: 
false
innerHTML
: 
"<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Meu Blog - Neymar Jr</title>\n\n<link rel=\"stylesheet\" href=\"style.css\">\n\n<link href=\"style.css\" rel=\"stylesheet\"></head>\n\n<body>\n\n<header>\n\n<h1>⚽ Meu Blog</h1>\n\n<h2>Neymar Jr</h2>\n\n<nav>\n<a href=\"#sobre\">Sobre</a>\n<a href=\"#conquistas\">Conquistas</a>\n<a href=\"#curiosidades\">Curiosidades</a>\n</nav>\n\n</header>\n\n<hr>\n\n<main>\n\n<img src=\"https://commons.wikimedia.org/wiki/Special:FilePath/Neymar_2018.jpg\" alt=\"Neymar Jr\" width=\"350\">\n\n<article id=\"sobre\">\n<h2>Quem é Neymar Jr?</h2>\n<p>\nNeymar da Silva Santos Júnior, nascido em Mogi das Cruzes, é um dos\nmaiores talentos que o futebol brasileiro já produziu. Revelado pelo\nSantos, encantou o mundo ainda jovem e depois brilhou em grandes clubes\ncomo Barcelona, Paris Saint-Germain e Al-Hilal, além de ser peça\nfundamental da Seleção Brasileira por muitos anos.\n</p>\n</article>\n\n<img src=\"https://commons.wikimedia.org/wiki/Special:FilePath/Neymar_(16245492137).jpg\" alt=\"Neymar jogando pelo Barcelona\" width=\"350\">\n\n<section id=\"conquistas\">\n<h2>Conquistas</h2>\n<ul>\n<li>🏆 Campeão da UEFA Champions League</li>\n<li>🏆 Ouro olímpico com a Seleção Brasileira em 2016</li>\n<li>🏆 Múltiplos títulos nacionais por Santos, Barcelona e PSG</li>\n<li>⚽ Um dos maiores artilheiros da história da Seleção Brasileira</li>\n</ul>\n</section>\n\n<img src=\"https://commons.wikimedia.org/wiki/Special:FilePath/Neymar_Presentation.jpg\" alt=\"Neymar em apresentação de clube\" width=\"350\">\n\n<article id=\"curiosidades\">\n<h2>Curiosidades</h2>\n<p>\nAlém do talento com a bola, Neymar é conhecido pelo drible criativo,\nos embaixadinhas e o estilo único de jogar que mistura técnica com\nalegria, características que o tornaram um dos jogadores mais\nqueridos e comentados do futebol mundial.\n</p>\n</article>\n\n<aside>\n<h2>Sobre o autor</h2>\n<p>\nEsse blog é feito por Diego Elano, fã de futebol e admirador da\ntrajetória de Neymar Jr dentro e fora de campo.\n</p>\n</aside>\n\n</main>\n\n<hr>\n\n<footer>\n\n<h3>\nMeu Blog • Diego Elano • Neymar Jr\n</h3>\n\n</footer>\n\n\n</body>"
innerText
: 
"⚽ Meu Blog\nNeymar Jr\nSobre Conquistas Curiosidades\nQuem é Neymar Jr?\n\nNeymar da Silva Santos Júnior, nascido em Mogi das Cruzes, é um dos maiores talentos que o futebol brasileiro já produziu. Revelado pelo Santos, encantou o mundo ainda jovem e depois brilhou em grandes clubes como Barcelona, Paris Saint-Germain e Al-Hilal, além de ser peça fundamental da Seleção Brasileira por muitos anos.\n\nConquistas\n🏆 Campeão da UEFA Champions League\n🏆 Ouro olímpico com a Seleção Brasileira em 2016\n🏆 Múltiplos títulos nacionais por Santos, Barcelona e PSG\n⚽ Um dos maiores artilheiros da história da Seleção Brasileira\nCuriosidades\n\nAlém do talento com a bola, Neymar é conhecido pelo drible criativo, os embaixadinhas e o estilo único de jogar que mistura técnica com alegria, características que o tornaram um dos jogadores mais queridos e comentados do futebol mundial.\n\nSobre o autor\n\nEsse blog é feito por Diego Elano, fã de futebol e admirador da trajetória de Neymar Jr dentro e fora de campo.\n\nMeu Blog • Diego Elano • Neymar Jr"
inputMode
: 
""
isConnected
: 
true
isContentEditable
: 
false
lang
: 
"pt-BR"
lastChild
: 
body
lastElementChild
: 
body
localName
: 
"html"
namespaceURI
: 
"http://www.w3.org/1999/xhtml"
nodeName
: 
"HTML"
nodeType
: 
1
nonce
: 
""
offsetHeight
: 
2048
offsetLeft
: 
0
offsetTop
: 
0
offsetWidth
: 
1350
outerHTML
: 
"<html lang=\"pt-BR\"><head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Meu Blog - Neymar Jr</title>\n\n<link rel=\"stylesheet\" href=\"style.css\">\n\n<link href=\"style.css\" rel=\"stylesheet\"></head>\n\n<body>\n\n<header>\n\n<h1>⚽ Meu Blog</h1>\n\n<h2>Neymar Jr</h2>\n\n<nav>\n<a href=\"#sobre\">Sobre</a>\n<a href=\"#conquistas\">Conquistas</a>\n<a href=\"#curiosidades\">Curiosidades</a>\n</nav>\n\n</header>\n\n<hr>\n\n<main>\n\n<img src=\"https://commons.wikimedia.org/wiki/Special:FilePath/Neymar_2018.jpg\" alt=\"Neymar Jr\" width=\"350\">\n\n<article id=\"sobre\">\n<h2>Quem é Neymar Jr?</h2>\n<p>\nNeymar da Silva Santos Júnior, nascido em Mogi das Cruzes, é um dos\nmaiores talentos que o futebol brasileiro já produziu. Revelado pelo\nSantos, encantou o mundo ainda jovem e depois brilhou em grandes clubes\ncomo Barcelona, Paris Saint-Germain e Al-Hilal, além de ser peça\nfundamental da Seleção Brasileira por muitos anos.\n</p>\n</article>\n\n<img src=\"https://commons.wikimedia.org/wiki/Special:FilePath/Neymar_(16245492137).jpg\" alt=\"Neymar jogando pelo Barcelona\" width=\"350\">\n\n<section id=\"conquistas\">\n<h2>Conquistas</h2>\n<ul>\n<li>🏆 Campeão da UEFA Champions League</li>\n<li>🏆 Ouro olímpico com a Seleção Brasileira em 2016</li>\n<li>🏆 Múltiplos títulos nacionais por Santos, Barcelona e PSG</li>\n<li>⚽ Um dos maiores artilheiros da história da Seleção Brasileira</li>\n</ul>\n</section>\n\n<img src=\"https://commons.wikimedia.org/wiki/Special:FilePath/Neymar_Presentation.jpg\" alt=\"Neymar em apresentação de clube\" width=\"350\">\n\n<article id=\"curiosidades\">\n<h2>Curiosidades</h2>\n<p>\nAlém do talento com a bola, Neymar é conhecido pelo drible criativo,\nos embaixadinhas e o estilo único de jogar que mistura técnica com\nalegria, características que o tornaram um dos jogadores mais\nqueridos e comentados do futebol mundial.\n</p>\n</article>\n\n<aside>\n<h2>Sobre o autor</h2>\n<p>\nEsse blog é feito por Diego Elano, fã de futebol e admirador da\ntrajetória de Neymar Jr dentro e fora de campo.\n</p>\n</aside>\n\n</main>\n\n<hr>\n\n<footer>\n\n<h3>\nMeu Blog • Diego Elano • Neymar Jr\n</h3>\n\n</footer>\n\n\n</body></html>"
outerText
: 
"⚽ Meu Blog\nNeymar Jr\nSobre Conquistas Curiosidades\nQuem é Neymar Jr?\n\nNeymar da Silva Santos Júnior, nascido em Mogi das Cruzes, é um dos maiores talentos que o futebol brasileiro já produziu. Revelado pelo Santos, encantou o mundo ainda jovem e depois brilhou em grandes clubes como Barcelona, Paris Saint-Germain e Al-Hilal, além de ser peça fundamental da Seleção Brasileira por muitos anos.\n\nConquistas\n🏆 Campeão da UEFA Champions League\n🏆 Ouro olímpico com a Seleção Brasileira em 2016\n🏆 Múltiplos títulos nacionais por Santos, Barcelona e PSG\n⚽ Um dos maiores artilheiros da história da Seleção Brasileira\nCuriosidades\n\nAlém do talento com a bola, Neymar é conhecido pelo drible criativo, os embaixadinhas e o estilo único de jogar que mistura técnica com alegria, características que o tornaram um dos jogadores mais queridos e comentados do futebol mundial.\n\nSobre o autor\n\nEsse blog é feito por Diego Elano, fã de futebol e admirador da trajetória de Neymar Jr dentro e fora de campo.\n\nMeu Blog • Diego Elano • Neymar Jr"
ownerDocument
: 
document
parentNode
: 
document
part
: 
DOMTokenList [value: '']
previousSibling
: 
<!DOCTYPE html>
scrollHeight
: 
2048
scrollLeft
: 
0
scrollTop
: 
0
scrollWidth
: 
1350
slot
: 
""
spellcheck
: 
true
style
: 
CSSStyleDeclaration {accentColor: '', additiveSymbols: '', alignContent: '', alignItems: '', alignSelf: '', …}
tabIndex
: 
-1
tagName
: 
"HTML"
textContent
: 
"\n\n\nMeu Blog - Neymar Jr\n\n\n\n\n\n\n\n\n\n⚽ Meu Blog\n\nNeymar Jr\n\n\nSobre\nConquistas\nCuriosidades\n\n\n\n\n\n\n\n\n\n\n\nQuem é Neymar Jr?\n\nNeymar da Silva Santos Júnior, nascido em Mogi das Cruzes, é um dos\nmaiores talentos que o futebol brasileiro já produziu. Revelado pelo\nSantos, encantou o mundo ainda jovem e depois brilhou em grandes clubes\ncomo Barcelona, Paris Saint-Germain e Al-Hilal, além de ser peça\nfundamental da Seleção Brasileira por muitos anos.\n\n\n\n\n\n\nConquistas\n\n🏆 Campeão da UEFA Champions League\n🏆 Ouro olímpico com a Seleção Brasileira em 2016\n🏆 Múltiplos títulos nacionais por Santos, Barcelona e PSG\n⚽ Um dos maiores artilheiros da história da Seleção Brasileira\n\n\n\n\n\n\nCuriosidades\n\nAlém do talento com a bola, Neymar é conhecido pelo drible criativo,\nos embaixadinhas e o estilo único de jogar que mistura técnica com\nalegria, características que o tornaram um dos jogadores mais\nqueridos e comentados do futebol mundial.\n\n\n\n\nSobre o autor\n\nEsse blog é feito por Diego Elano, fã de futebol e admirador da\ntrajetória de Neymar Jr dentro e fora de campo.\n\n\n\n\n\n\n\n\n\n\nMeu Blog • Diego Elano • Neymar Jr\n\n\n\n\n\n"
title
: 
""
translate
: 
true
version
: 
""
virtualKeyboardPolicy
: 
""
writingSuggestions
: 
"true"