body {
    text-align: center;
    font-family: Arial;
    background: #e3f2fd;
    color: #1565c0;
}

div {
    background: white;
    padding: 20px;
    margin: 30px auto;
    max-width: 400px;
    border-radius: 15px;
}

button {
    background: #1976d2;
    color: white;
    border: 0;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
}
