* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f0ff;
    color: #333;
    line-height: 1.7;
}


/* CABEÇALHO */

header {
    background: linear-gradient(135deg, #6a0dad, #9b59b6);
    color: white;
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}


/* CONTEÚDO */

main {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
}


/* SEÇÕES */

section {
    background: white;
    padding: 35px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

section h2 {
    color: #6a0dad;
    margin-bottom: 18px;
    font-size: 28px;
}


/* HOBBIES */

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 250px;
    padding: 25px;
    background: #faf7ff;
    border-radius: 15px;
    text-align: center;
    border: 2px solid #eee1ff;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(106, 13, 173, 0.15);
}

.card span {
    font-size: 45px;
}

.card h3 {
    color: #6a0dad;
    margin: 10px 0;
}


/* MÚSICA */

.musica {
    display: flex;
    gap: 40px;
    align-items: center;
}

.texto-musica {
    flex: 1;
}

.imagem-musica {
    flex: 1;
    text-align: center;
}

.imagem-musica img {
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.imagem-musica p {
    margin-top: 10px;
    font-style: italic;
    color: #666;
}


/* BOTÃO */

button {
    background: #6a0dad;
    color: white;
    border: none;
    padding: 13px 25px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background: #4b087a;
    transform: scale(1.05);
}

#mensagem {
    margin-top: 15px;
    color: #6a0dad;
    font-weight: bold;
}


/* RODAPÉ */

footer {
    background: #2d143d;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}


/* CELULAR */

@media (max-width: 700px) {

    header h1 {
        font-size: 28px;
    }

    .musica {
        flex-direction: column;
    }

    section {
        padding: 25px;
    }

    .cards {
        flex-direction: column;
    }

}