* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #222;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #7cff4f;
    text-shadow: 3px 3px #000;
}

#informacoes {
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}

#jogo {
    width: 800px;
    max-width: 95%;
    height: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border: 5px solid #111;
    background: #70cfff;
}

/* CÉU */

.ceu {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        #55bdf5,
        #bcecff
    );
}

/* SOL */

#sol {
    position: absolute;
    right: 60px;
    top: 40px;
    font-size: 60px;
}

/* JOGADOR */

#jogador {
    position: absolute;
    width: 45px;
    height: 55px;
    left: 100px;
    top: 295px;

    background: #4a90e2;

    border: 3px solid #222;

    font-size: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 20;
}

/* MUNDO */

#mundo {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 500px;
}

/* BLOCOS */

.bloco {
    position: absolute;

    width: 50px;
    height: 50px;

    border: 2px solid rgba(0,0,0,0.3);

    cursor: pointer;
}

/* GRAMA */

.grama {
    background:
        linear-gradient(
            #4caf35 0%,
            #4caf35 20%,
            #795548 20%,
            #795548 100%
        );
}

/* TERRA */

.terra {
    background:
        repeating-linear-gradient(
            45deg,
            #795548,
            #795548 8px,
            #69483d 8px,
            #69483d 16px
        );
}

/* CONTROLES */

.controles {
    margin-top: 15px;
}

button {
    margin: 5px;

    padding: 12px 18px;

    border: none;
    border-radius: 8px;

    background: #55b535;

    color: white;

    font-size: 17px;
    font-weight: bold;

    cursor: pointer;
}

button:hover {
    background: #6bd548;
}

button:active {
    transform: scale(0.95);
}

p {
    color: #ccc;
}