body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

header{
    background:#009739;
    color:white;
    text-align:center;
    padding:30px;
}

nav{
    background:#002776;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}

section{
    text-align:center;
    padding:30px;
}

.card{
    background:white;
    width:300px;
    margin:20px auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.2);
}

button{
    background:#ffdf00;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#e6c800;
}

footer{
    background:#002776;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}