*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #5900ff;
    color: #ffffff;
}

header{
    background-color: #000000;
    height: 80px;
    padding: 80px;
    margin-bottom: 40px;
    text-align: center;
}