body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    background: #444;
    margin: 0;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
}

input, select, button {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

aside {
    text-align: center;
    margin: 20px;
    font-size: 14px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
}