* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}nav {
    display: flex;
    background-color: #333333;
}

nav a {
    color: #ffffff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #dddddd;
    color: #000000;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;            /* Espaço entre os itens */
  align-items: center;  /* Alinhamento vertical */
}

/* Itens de exemplo dentro da row (ex: 3 colunas) */
.column {
  flex: 1 1 calc(33.333% - 1rem); /* Cresce, encolhe e define base */
  min-width: 250px;               /* Força quebra em telas pequenas */
}
aside {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}
footer {
    padding: 30px;
    text-align: center;
    background-color: #100e17;
    color: #ffffff;
}

