body {
    background: radial-gradient(circle, #9c590da0, #042b05);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
\}

.fortnite-card {
    background: #3d0808;
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 4ex #ffaa00;
    border: 3px solid #ffaa00;
    text-align: center;
    position: relative;
\}

.rarity-glow {
    background: linear-gradient(to bottom, #4f380b, transparent);
    height: 100px;
    position: absolute;
    width: 105
\}

.image-container img {
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 1;
    margin-top: 20px;
\}

.info {
    padding: 20px;
    background: #000000;
\}

.rarity {
    background: #ffaa00;
    color: black;
    padding: 2px 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
\}

.skin-name {
    color: rgb(116, 25, 25);
    margin: 10px 0;
    font-size: 24px;
    font-weight: 900;
\}

.description {
    color: #ad1f1f;
    font-size: 14px;
\}

.btn-buy {
    background: #31d2f2;
    border: none;
    padding: 12px 25px;
    color: rgb(184, 49, 49);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
\}

.btn-buy:hover {
    transform: scale(1.1);
    background: #25a8c4;
\}$0