@import url("https://fonts.googleapis.com");


* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    background-color: rgba(39, 193, 59, 0.767);
    font-family: "Fira Sans", sans-serif;
    width: 100%;
    height: 100vh;

}

nav {

    background-color: rgb(58, 60, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 3px rgb(0, 0, 0, 0,4);
    position: fixed;
    width: 100%;
}

nav a {
    color: aqua;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.5s linear;
}

nav a:hover {
    background-color: aliceblue;
    color: rgb(87, 47, 124);
}

header {

    width: 100%;
    background-color: linear-gradient(to botton, #4bcfb300, #1d651d);
    padding: 60px 60px 60px 60px ;
    color: #00fac4; 
    text-align: center;
}

.row {

  display: flex;  
    flex-wrap: wrap;

}


.row aside {
    flex: 30%;
    color: #f9fbfa;
    padding: 20px;
    background-color: #36259adc;

}

aside img{

    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 5px 10px;
}

aside h3 {

    font-size: 22px;
    margin:  10px 0px;
}

.img-fake {

    width: 100%;
    height: 50px;
    margin: 5px 10px;
    background-color: rgba(98, 202, 33, 0.902);
}

.autor {

    font-size: 14px;
    font-weight: bold;


}


.row main {
    flex: 70%;
    padding: 0px 20px 20px 20px;

}

article {

    background-color: #c7b834e7;   
    color: #f5f7f9;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0);
}

article img {

    width: 100%;
    margin-top: 10px;
    border-radius: 5px;


}

article .autor {

    font-weight: lighter;
    margin: 5px 0px 15px 0px;


}

article h2 {

    color: rgb(255, 254, 254);

}

article .descripition {

    color: rgb(0, 0, 0);
    text-align: justify;
    margin-top: 10px;
}

footer {

    background-color: #000000;
    color: #ffffff;
    padding: 30px;
    text-align: center;
}

@media  and (max-width: 550px) {

    nav {

        flex-direction: column;
        position: relative;
    }

    .row aside {

        flex: 100%;
        -ms-flex-align: center;
    }

    .row main {
        flex: 100%;
    }
}