<style>
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+BR+Guides&display=swap');
</style>

 *{
    padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{ 
    background-color: rgb(105, 10, 189);
    .bebas-neue-regular{
  font-family: "Bebas Neue", sans-serif;
  width: 100%;
  height: 100vh;
    }

}
nav{
  background-color:  rgb(105, 10, 189);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 3px rgba(0,0,0, 0.4);
}
nav a {
  color:aliceblue
  text-decoration: none;
  padding: 10px 15px;
  transition: all 0.5s linear;
}


nav a:hover {
background-color: rgb(238, 42, 21);
color: aliceblue;
} 