```css
body {
    text-align: center;
    font-family: Arial;
    background-color: #ffe4ec;
    padding: 60px;
}

h1 {
    color: #d6336c;
}

p {
    font-size: 20px;
}

button {
    padding: 10px 20px;
    background-color: #d6336c;
    color: white;
    border: none;
    border-radius: 8px;
}
```
