body{
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 0;

    background-image: url('https://wallpapercave.com/wp/wp2757874.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header{
    background-color: rgba(106, 13, 173, 0.85);
    padding: 20px;
}

.imagem-topo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
    margin-bottom: 10px;
}

nav{
    background-color: rgba(26, 26, 26, 0.9);
    padding: 12px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover{
    color: #d8b4ff;
}

.container{
    width: 350px;
    margin: 50px auto;
    background-color: rgba(17, 17, 17, 0.9);
    border: 2px solid #6a0dad;
    border-radius: 12px;
    padding: 25px;
}

section{
    margin-bottom: 20px;
}

input[type="text"]{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button{
    background-color: #6a0dad;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

button:hover{
    background-color: #8a2be2;
}

aside{
    background-color: rgba(26, 26, 26, 0.9);
    border-top: 1px dashed #6a0dad;
    margin-top: 25px;
    padding-top: 15px;
}

footer{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    margin-top: 30px;
}
