body{
    margin:0;
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#7B2CBF,#9D4EDD,#C77DFF);
}

.container{
    max-width:900px;
    margin:30px auto;
    background:white;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    overflow:hidden;
}

header{
    background:#6A0DAD;
    color:white;
    text-align:center;
    padding:30px;
}

.foto{
    width:180px;
    height:180px;
    border-radius:50%;
    border:5px solid white;
    object-fit:cover;
}

section{
    padding:20px;
}

.card{
    background:#F3E8FF;
    padding:15px;
    margin:15px 0;
    border-radius:12px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 5px 15px rgba(106,13,173,.3);
}

h2{
    color:#6A0DAD;
}

footer{
    background:#6A0DAD;
    color:white;
    text-align:center;
    padding:15px;
}

ul{
    padding-left:20px;
}

p, li{
    font-size:17px;
    line-height:1.6;
}aside{
    background:#EBD9FF;
    padding:20px;
    margin:20px;
    border-radius:12px;
}

aside h2{
    color:#6A0DAD;
}