body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.custom-gradient {
    background: linear-gradient(135deg, #0d0709 0%, #29080d 50%, #4a0e17 100%);
}

.gold-gradient {
    background: linear-gradient(135deg, #dfa878 0%, #fef3c7 25%, #c58348 50%, #fde68a 75%, #a2612a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}