body {
  margin: 0;
  font-family: Arial;
  background: #222;
  color: white;
}

header {
  background: orange;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.perfil {
  text-align: center;
}

.perfil img {
  border-radius: 50%;
  border: 3px solid orange;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.card {
  background: #333;
  padding: 15px;
  border-left: 5px solid orange;
}

button {
  background: orange;
  border: none;
  padding: 10px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 10px;
  background: #111;
}

@media (max-width: 700px) {
  .info {
    grid-template-columns: 1fr;
  }
}