*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f2f2f2;
    color:#333;
}

header{
    background:#111;
    color:white;
    text-align:center;
    padding:40px;
}

header h1{
    font-size:50px;
}

header p{
    margin-top:10px;
    font-size:20px;
}

nav{
    background:#d40000;
}

nav ul{
    display:flex;
    justify-content:center;
    list-style:none;
}

nav li{
    margin:15px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

.banner{
    text-align:center;
    padding:40px;
}

.banner img{
    width:300px;
    border-radius:15px;
    box-shadow:0 0 15px black;
}

.banner h2{
    margin-top:20px;
    font-size:35px;
}

.banner p{
    max-width:700px;
    margin:auto;
    margin-top:20px;
    line-height:1.6;
}

button{
    margin-top:30px;
    padding:15px 30px;
    font-size:18px;
    border:none;
    background:#d40000;
    color:white;
    cursor:pointer;
    border-radius:10px;
}

button:hover{
    background:black;
}

section{
    padding:50px;
}

section h2{
    margin-bottom:20px;
    text-align:center;
}

#titulos ul{
    max-width:500px;
    margin:auto;
}

#titulos li{
    margin:10px;
    font-size:20px;
}

.card{
    background:white;
    margin:20px auto;
    padding:20px;
    width:70%;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
}