@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(159, 161, 226);
    font-family: "Archivo", sans-serif;
    width: 100%;
    height: 100vh;
}

nav {
    background-color: rgb(49, 94, 133);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background-color: rgb(79, 143, 199);
    color: rgb(14, 50, 82);
    transition: all 0.5s linear;
}

header {
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(28, 100, 141), #487dcc);
    padding: 80px 60px 60px 60px;
    color: #ffffff;
    text-align: center;
}

aside img {
    width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row aside {
    flex: 0 0 30%;
    color: #ffffff;
    padding: 20px;
    background-color: #213553;
}

.row main {
    flex: 0 0 70%;
    padding: 0px 20px 20px 20px;
}



aside h3 {
    font-size: 22px;
    margin: 10px 0px;
}

.autor {
    font-size: 14px;
    font-weight: bold;
}

article {
    background-color: #192446;
    color: #ffffff;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

article img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

article .autor {
    font-weight: lighter;
    margin: 5px 0px 15px 0px;
}

article h2 {
    color: #ffffff;
}

article .description {
    color: #ffffff;
    text-align: justify;
    margin-top: 10px;
}

footer {
    background-color: #141a2c;
    color: #ffffff;
    padding: 30px;
    text-align: center;
}

@media screen and (max-width: 550px) {
    nav {
        flex-direction: column;
        position: relative;
    }

    .row aside {
        flex: 100%;
        text-align: center;
    }

    .row main {
        flex: 100%;
    }
}