*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Verdana, sans-serif;
    background:#0b1120;
    color:white;
}

header{
    text-align:center;
    padding:30px;
    background:#111827;
}

header h1{
    color:#00e5ff;
    margin-bottom:10px;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:url("https://images.unsplash.com/photo-1677442136019-21780ecad995")
    center/cover;
}

.hero h2{
    font-size:40px;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    margin:auto;
    margin-bottom:25px;
}

.btn{
    text-decoration:none;
    background:#00e5ff;
    color:black;
    padding:12px 25px;
    border-radius:30px;
    font-weight:bold;
}

.servicos{
    padding:60px 10%;
    text-align:center;
}

.servicos h2{
    margin-bottom:30px;
    color:#00e5ff;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.box{
    background:#1e293b;
    padding:25px;
    border-radius:12px;
    transition:0.3s;
}

.box:hover{
    transform:scale(1.05);
}

.vantagens{
    padding:60px 10%;
    text-align:center;
}

.vantagens h2{
    color:#00e5ff;
    margin-bottom:20px;
}

.vantagens ul{
    list-style:none;
}

.vantagens li{
    margin:15px;
    font-size:18px;
}

footer{
    text-align:center;
    padding:20px;
    background:#111827;
}