@font-face {
  font-family: "italico";
  src: url(italico.ttf);
}

body {
  line-height:;

  font-family: "italico";

  margin: 0%;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #17fafa, #702096, #26288b, #ec344dfd);
  background-size: 400% 400%;
  animation: gradiente 10s ease infinite;
}

@keyframes gradiente {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

nav {
  background-color: #5d5da7;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 4px rgb(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
}

nav a {
  color: #29113d;
  text-decoration: none;
  padding: 10px 15px;
  transition: all 0.4s linear;
}

nav a:hover {
  background-color: #7624da;
  color: rgb(199, 248, 250);
}

header {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgb(90, 22, 167),
    rgb(70, 138, 132)
  );
  padding: 60px;
  color: aliceblue;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap:;
}

.row aside {
  flex: 30%;
  color: #ffffff;
  padding: 20px;
  background-color: #4ddbe638;
}

row main {
  flex: 70%;
}

aside img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 5px 0px;
}

aside h3 {
  font-size: 22px;
  margin: 10px 0px;
}

.imgfake {
  width: 100%;
  height: 50px;
  margin: 10px 0px;
  background-color: #4ba56279;
  margin-top: 5px 0px;
}

.autor {
  font-size: 14px;
  font-weight: bold;
}

body p {
  color: rgb(218, 218, 218);
}

.row main {
  flex: 70%;
  padding: 0px 20px 20px 20px;
}

article {
  background-color: #5d5da7;
  color: rgb(236, 236, 236);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);
}

article img {
  width: 50%;
  margin-bottom: 10px;
  border-radius: 5px;
}

article .autor {
  font-weight: lighter;
  margin: 5px 0px 15px 0px;
}

article h2 {
  color: rgb(255, 255, 255);
}

article .descripition {
  color: #ffffff;
  text-align: justify;
  margin-top: 10px;
}

footer {
  background-color: #26288b;
  color: #ffffff;
  padding: 30px;
  text-align: center;
}

@media screen and (max 
-width: 6000px) {
  nav {
    flex-direction: column;
    position: relative;
  }
  .row aside {
    flex: 100%;
    text-align: center;
  }

  .row main {
    flex: 100%;
  }
}

