accessKey
: 
""
attributeStyleMap
: 
StylePropertyMap {size: 0}
attributes
: 
NamedNodeMap {0: lang, lang: lang, length: 1}
autocapitalize
: 
""
autofocus
: 
false
baseURI
: 
"https://programe-io.github.io/MentoriaTech-Avaliacoes-2026/78632025198/aval-2/"
childElementCount
: 
2
childNodes
: 
NodeList(3) [head, text, body]
children
: 
HTMLCollection(2) [head, body]
classList
: 
DOMTokenList [value: '']
className
: 
""
clientHeight
: 
945
clientLeft
: 
0
clientTop
: 
0
clientWidth
: 
1350
contentEditable
: 
"inherit"
currentCSSZoom
: 
1
customElementRegistry
: 
CustomElementRegistry {}
dataset
: 
DOMStringMap {}
dir
: 
""
draggable
: 
false
elementTiming
: 
""
enterKeyHint
: 
""
firstChild
: 
head
firstElementChild
: 
head
focusGroup
: 
DOMTokenList [value: '']
focusGroupStart
: 
false
hidden
: 
false
id
: 
""
inert
: 
false
innerHTML
: 
"<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Blog Cledson - Neymar Jr.</title>\n    <link rel=\"stylesheet\" href=\"style.css\">\n<link href=\"style.css\" rel=\"stylesheet\"></head>\n<body>\n\n    <header>\n        <h1>Blog Cledson</h1>\n        <p>Tudo sobre Neymar Jr.</p>\n    </header>\n\n    <nav>\n        <a href=\"#\">Início</a>\n        <a href=\"#\">Biografia</a>\n        <a href=\"#\">Carreira</a>\n        <a href=\"#\">Títulos</a>\n        <a href=\"#\">Contato</a>\n    </nav>\n\n    <main>\n\n        <section class=\"banner\">\n            <h2>Neymar Jr.</h2>\n            <p>Um dos maiores jogadores da história do futebol brasileiro.</p>\n        </section>\n\n        <article class=\"post\">\n            <h2>Quem é Neymar Jr.?</h2>\n             \n            <img src=\"https://tse2.mm.bing.net/th/id/OIP.ZqeyOiXEe_zaShPrbl8kZgHaKi?r=0&amp;cb=thfc1falcon4&amp;rs=1&amp;pid=ImgDetMain&amp;o=7&amp;rm=jpg\" <img=\"\" alt=\"Neymar Jr\">\n\n            <p>\n                Neymar da Silva Santos Júnior nasceu em 5 de fevereiro de 1992,\n                em Mogi das Cruzes, São Paulo. Revelado pelo Santos Futebol Clube,\n                tornou-se um dos principais jogadores do futebol mundial.\n            </p>\n        </article>\n\n        <article class=\"post\">\n            <h2>Principais Conquistas</h2>\n\n            <aside>\n                <a>🏆 Libertadores 2011</a>\n                <a>🏆 Liga dos Campeões</a>\n                <a>🏆 Campeonato Espanhol</a>\n                <a>🏆 Copa do Brasil</a>\n                <a>🏆 Medalha de Ouro Olímpica</a>\n            </aside>\n        </article>\n\n        <article class=\"post\">\n            <h2>Curiosidades</h2>\n\n            <p>\n                Neymar é conhecido por sua habilidade, velocidade e dribles.\n                Além do futebol, também participa de projetos sociais e possui\n                milhões de seguidores nas redes sociais.\n            </p>\n        </article>\n\n    </main>\n\n    <footer>\n        <h3>© 2026 Blog Cledson | Tema: Neymar Jr.</h3>\n    </footer>\n\n\n</body>"
innerText
: 
"Blog Cledson\n\nTudo sobre Neymar Jr.\n\nInício Biografia Carreira Títulos Contato\nNeymar Jr.\n\nUm dos maiores jogadores da história do futebol brasileiro.\n\nQuem é Neymar Jr.?\n\nNeymar da Silva Santos Júnior nasceu em 5 de fevereiro de 1992, em Mogi das Cruzes, São Paulo. Revelado pelo Santos Futebol Clube, tornou-se um dos principais jogadores do futebol mundial.\n\nPrincipais Conquistas\n🏆 Libertadores 2011 🏆 Liga dos Campeões 🏆 Campeonato Espanhol 🏆 Copa do Brasil 🏆 Medalha de Ouro Olímpica\nCuriosidades\n\nNeymar é conhecido por sua habilidade, velocidade e dribles. Além do futebol, também participa de projetos sociais e possui milhões de seguidores nas redes sociais.\n\n© 2026 Blog Cledson | Tema: Neymar Jr."
inputMode
: 
""
isConnected
: 
true
isContentEditable
: 
false
lang
: 
"pt-BR"
lastChild
: 
body
lastElementChild
: 
body
localName
: 
"html"
namespaceURI
: 
"http://www.w3.org/1999/xhtml"
nodeName
: 
"HTML"
nodeType
: 
1
nonce
: 
""
offsetHeight
: 
1602
offsetLeft
: 
0
offsetTop
: 
0
offsetWidth
: 
1350
outerHTML
: 
"<html lang=\"pt-BR\"><head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Blog Cledson - Neymar Jr.</title>\n    <link rel=\"stylesheet\" href=\"style.css\">\n<link href=\"style.css\" rel=\"stylesheet\"></head>\n<body>\n\n    <header>\n        <h1>Blog Cledson</h1>\n        <p>Tudo sobre Neymar Jr.</p>\n    </header>\n\n    <nav>\n        <a href=\"#\">Início</a>\n        <a href=\"#\">Biografia</a>\n        <a href=\"#\">Carreira</a>\n        <a href=\"#\">Títulos</a>\n        <a href=\"#\">Contato</a>\n    </nav>\n\n    <main>\n\n        <section class=\"banner\">\n            <h2>Neymar Jr.</h2>\n            <p>Um dos maiores jogadores da história do futebol brasileiro.</p>\n        </section>\n\n        <article class=\"post\">\n            <h2>Quem é Neymar Jr.?</h2>\n             \n            <img src=\"https://tse2.mm.bing.net/th/id/OIP.ZqeyOiXEe_zaShPrbl8kZgHaKi?r=0&amp;cb=thfc1falcon4&amp;rs=1&amp;pid=ImgDetMain&amp;o=7&amp;rm=jpg\" <img=\"\" alt=\"Neymar Jr\">\n\n            <p>\n                Neymar da Silva Santos Júnior nasceu em 5 de fevereiro de 1992,\n                em Mogi das Cruzes, São Paulo. Revelado pelo Santos Futebol Clube,\n                tornou-se um dos principais jogadores do futebol mundial.\n            </p>\n        </article>\n\n        <article class=\"post\">\n            <h2>Principais Conquistas</h2>\n\n            <aside>\n                <a>🏆 Libertadores 2011</a>\n                <a>🏆 Liga dos Campeões</a>\n                <a>🏆 Campeonato Espanhol</a>\n                <a>🏆 Copa do Brasil</a>\n                <a>🏆 Medalha de Ouro Olímpica</a>\n            </aside>\n        </article>\n\n        <article class=\"post\">\n            <h2>Curiosidades</h2>\n\n            <p>\n                Neymar é conhecido por sua habilidade, velocidade e dribles.\n                Além do futebol, também participa de projetos sociais e possui\n                milhões de seguidores nas redes sociais.\n            </p>\n        </article>\n\n    </main>\n\n    <footer>\n        <h3>© 2026 Blog Cledson | Tema: Neymar Jr.</h3>\n    </footer>\n\n\n</body></html>"
outerText
: 
"Blog Cledson\n\nTudo sobre Neymar Jr.\n\nInício Biografia Carreira Títulos Contato\nNeymar Jr.\n\nUm dos maiores jogadores da história do futebol brasileiro.\n\nQuem é Neymar Jr.?\n\nNeymar da Silva Santos Júnior nasceu em 5 de fevereiro de 1992, em Mogi das Cruzes, São Paulo. Revelado pelo Santos Futebol Clube, tornou-se um dos principais jogadores do futebol mundial.\n\nPrincipais Conquistas\n🏆 Libertadores 2011 🏆 Liga dos Campeões 🏆 Campeonato Espanhol 🏆 Copa do Brasil 🏆 Medalha de Ouro Olímpica\nCuriosidades\n\nNeymar é conhecido por sua habilidade, velocidade e dribles. Além do futebol, também participa de projetos sociais e possui milhões de seguidores nas redes sociais.\n\n© 2026 Blog Cledson | Tema: Neymar Jr."
ownerDocument
: 
document
parentNode
: 
document
part
: 
DOMTokenList [value: '']
previousSibling
: 
<!DOCTYPE html>
scrollHeight
: 
1602
scrollLeft
: 
0
scrollTop
: 
0
scrollWidth
: 
1350
slot
: 
""
spellcheck
: 
true
style
: 
CSSStyleDeclaration {accentColor: '', additiveSymbols: '', alignContent: '', alignItems: '', alignSelf: '', …}
tabIndex
: 
-1
tagName
: 
"HTML"
textContent
: 
"\n    \n    \n    Blog Cledson - Neymar Jr.\n    \n\n\n\n    \n        Blog Cledson\n        Tudo sobre Neymar Jr.\n    \n\n    \n        Início\n        Biografia\n        Carreira\n        Títulos\n        Contato\n    \n\n    \n\n        \n            Neymar Jr.\n            Um dos maiores jogadores da história do futebol brasileiro.\n        \n\n        \n            Quem é Neymar Jr.?\n             \n            \n\n            \n                Neymar da Silva Santos Júnior nasceu em 5 de fevereiro de 1992,\n                em Mogi das Cruzes, São Paulo. Revelado pelo Santos Futebol Clube,\n                tornou-se um dos principais jogadores do futebol mundial.\n            \n        \n\n        \n            Principais Conquistas\n\n            \n                🏆 Libertadores 2011\n                🏆 Liga dos Campeões\n                🏆 Campeonato Espanhol\n                🏆 Copa do Brasil\n                🏆 Medalha de Ouro Olímpica\n            \n        \n\n        \n            Curiosidades\n\n            \n                Neymar é conhecido por sua habilidade, velocidade e dribles.\n                Além do futebol, também participa de projetos sociais e possui\n                milhões de seguidores nas redes sociais.\n            \n        \n\n    \n\n    \n        © 2026 Blog Cledson | Tema: Neymar Jr.\n    \n\n\n"
title
: 
""
translate
: 
true
version
: 
""
virtualKeyboardPolicy
: 
""
writingSuggestions
: 
"true"