* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Página */

body {
    font-family: Arial, sans-serif;
    background: #e6e6e6;
    color: #222;
}


/* Cabeçalho */

header {
    background: #b30000;
    border-bottom: 5px solid #001f5b;
}

.header-content {
    max-width: 1000px;
    margin: auto;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
}


/* Navegação */

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #87ceeb;
}


/* Conteúdo principal */

main {
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding: 30px 20px;
}


/* Área de nova publicação */

.new-post {
    background: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


/* Usuário */

.user,
.post-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user div:last-child,
.post-header div:last-child {
    display: flex;
    flex-direction: column;
}


/* Avatar */

.avatar {
    width: 50px;
    height: 50px;

    background: #b30000;
    color: white;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 18px;

    border: 3px solid #001f5b;
}


/* Textos pequenos */

span {
    font-size: 13px;
    color: #777;
    margin-top: 4px;
}


/* Postagens */

.post {
    background: white;
    padding: 20px;
    margin-bottom: 25px;

    border-radius: 12px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    border-left: 6px solid #b30000;
}


/* Texto da postagem */

.post-text {
    margin: 20px 0;
    line-height: 1.6;
    font-size: 16px;
}


/* Imagem */

.post img {
    display: block;

    width: 100%;
    max-height: 400px;

    object-fit: cover;

    border-radius: 10px;

    margin-bottom: 20px;
}


/* Botões das ações */

.post-actions {
    display: flex;
    gap: 10px;
}


/* Botões */

button {
    background: #001f5b;

    color: white;

    border: none;
    border-radius: 8px;

    padding: 10px 16px;

    cursor: pointer;

    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}


/* Rodapé */

footer {
    background: #001f5b;
    color: white;

    text-align: center;

    padding: 20px;

    margin-top: 30px;
}


/* Responsividade */

@media (max-width: 600px) {

    .header-content {
        flex-direction: column;
        gap: 15px;
    }

    .new-post {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    nav {
        gap: 12px;
    }

}
