body {
  background-color: lightblue;
  font-family: Arial;
  text-align: center;
}

h1 {
  color: darkblue;
}

p {
  color: black;
  font-size: 18px;
}

ul {
  list-style-type: square;
}

button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
}