accessKey
: 
""
attributeStyleMap
: 
StylePropertyMap {size: 0}
attributes
: 
NamedNodeMap {0: lang, lang: lang, length: 1}
autocapitalize
: 
""
autofocus
: 
false
baseURI
: 
"https://programe-io.github.io/MentoriaTech-Avaliacoes-2026/62915087903/aval-1/"
childElementCount
: 
2
childNodes
: 
NodeList(3) [head, text, body]
children
: 
HTMLCollection(2) [head, body]
classList
: 
DOMTokenList [value: '']
className
: 
""
clientHeight
: 
945
clientLeft
: 
0
clientTop
: 
0
clientWidth
: 
1350
contentEditable
: 
"inherit"
currentCSSZoom
: 
1
dataset
: 
DOMStringMap {}
dir
: 
""
draggable
: 
false
elementTiming
: 
""
enterKeyHint
: 
""
firstChild
: 
head
firstElementChild
: 
head
hidden
: 
false
id
: 
""
inert
: 
false
innerHTML
: 
"<head>\n    <meta charset=\"UTF-8\">\n    <meta n
innerText
: 
"Champions League 2025\n\nOs finalistas da maior competição de clubes do mundo\n\nFinalistas\nParis Saint-Germain (PSG)\n\nO PSG chegou à final após uma excelente campanha, mostrando um ataque forte e uma defesa sólida durante toda a competição.\n\nInter de Milão\n\nA Inter de Milão conquistou sua vaga na decisão após eliminar grandes adversários e apresentar um futebol muito consistente.\n\nResultado da Final\n\nNa final da UEFA Champions League 2025, o Paris Saint-Germain venceu a Inter de Milão por 5 x 0, conquistando seu primeiro título da Champions League.\n\nBlog criado em HTML e CSS | Champions League 2025"
inputMode
: 
""
isConnected
: 
true
isContentEditable
: 
false
lang
: 
"pt-BR"
lastChild
: 
body
lastElementChild
: 
body
localName
: 
"html"
namespaceURI
: 
"http://www.w3.org/1999/xhtml"
nodeName
: 
"HTML"
nodeType
: 
1
nonce
: 
""
offsetHeight
: 
1163
offsetLeft
: 
0
offsetTop
: 
0
offsetWidth
: 
1350
outerHTML
: 
"<html lang=\"pt-BR\"><head>\n    <meta charset=\"
outerText
: 
"Champions League 2025\n\nOs finalistas da maior competição de clubes do mundo\n\nFinalistas\nParis Saint-Germain (PSG)\n\nO PSG chegou à final após uma excelente campanha, mostrando um ataque forte e uma defesa sólida durante toda a competição.\n\nInter de Milão\n\nA Inter de Milão conquistou sua vaga na decisão após eliminar grandes adversários e apresentar um futebol muito consistente.\n\nResultado da Final\n\nNa final da UEFA Champions League 2025, o Paris Saint-Germain venceu a Inter de Milão por 5 x 0, conquistando seu primeiro título da Champions League.\n\nBlog criado em HTML e CSS | Champions League 2025"
ownerDocument
: 
document
parentNode
: 
document
part
: 
DOMTokenList [value: '']
previousSibling
: 
<!DOCTYPE html>
scrollHeight
: 
1163
scrollLeft
: 
0
scrollTop
: 
0
scrollWidth
: 
1350
slot
: 
""
spellcheck
: 
true
style
: 
CSSStyleDeclaration {accentColor: '', additiveSymbols: '', alignContent: '', alignItems: '', alignSelf: '', …}
tabIndex
: 
-1
tagName
: 
"HTML"
textContent
: 
"\n    \n    \n    Final da Champions League 2025\n    \n\n\n\n\n\n    Champions League 2025\n    Os finalistas da maior competição de clubes do mundo\n\n\n\n\n    \n        \n    \n\n    \n        Finalistas\n\n        \n            Paris Saint-Germain (PSG)\n            \n                O PSG chegou à final após uma excelente campanha,\n                mostrando um ataque forte e uma defesa sólida durante\n                toda a competição.\n            \n        \n\n        \n            Inter de Milão\n            \n                A Inter de Milão conquistou sua vaga na decisão após\n                eliminar grandes adversários e apresentar um futebol\n                muito consistente.\n            \n        \n\n        Resultado da Final\n\n        \n            Na final da UEFA Champions League 2025, o\n            Paris Saint-Germain venceu a\n            Inter de Milão por\n            5 x 0, conquistando seu primeiro título\n            da Champions League.\n        \n\n    \n\n\n\n\n    Blog criado em HTML e CSS | Champions League 2025\n\n\n\n"
title
: 
""
translate
: 
true
version
: 
""
virtualKeyboardPolicy
: 
""
writingSuggestions
: 
"true"