* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    color: #222;
}

/* CABEÇALHO */
header {
    background: #006b3c;
    color: white;
    padding: 15px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-weight: bold;
}

.logo img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ffdf00;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #ffdf00;
}

/* INÍCIO */
.inicio {
    min-height: 500px;
    background: linear-gradient(135deg, #006b3c, #009739);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 50px;
    color: white;
}

.inicio h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.inicio p {
    font-size: 20px;
    margin-bottom: 30px;
}

.foto-principal {
    width: 300px;
    height: 380px;
    object-fit: cover;
    border-radius: 15px;
    border: 5px solid #ffdf00;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.botao {
    background: #ffdf00;
    color: #222;
    padding: 13px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

/* CONTEÚDO */
.conteudo {
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
}

.conteudo h2 {
    color: #006b3c;
    font-size: 32px;
    margin-bottom: 20px;
}

.conteudo p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 15px;
}

/* GALERIA */
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.card h3 {
    padding: 18px;
    color: #006b3c;
}

/* RODAPÉ */
footer {
    background: #006b3c;
    color: white;
    text-align: center;
    padding: 25px;
}

/* CELULAR */
@media (max-width: 700px) {

    header {
        flex-direction: column;
        gap: 15px;
    }

    .inicio {
        flex-direction: column;
        text-align: center;
    }

    .inicio h1 {
        font-size: 35px;
    }

    .galeria {
        grid-template-columns: 1fr;
    }
}