* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #132d45;
    color: white;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    color: #222;
    padding: 30px;
    border-radius: 15px;
}

h1 {
    text-align: center;
    color: #00b894;
    margin-bottom: 25px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

input,
select,
button {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background: #00b894;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #009f7f;
}

#mensagem {
    margin: 15px 0;
    font-weight: bold;
}

.tarefa {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 12px;
    background: #f8f8f8;
}

.tarefa h3 {
    margin-bottom: 8px;
}

.concluida {
    background: #dff8ed;
}

.concluida h3 {
    text-decoration: line-through;
}

.botoes {
    display: flex;
    gap: 8px;
    margin-top: 12px;
    flex-wrap: wrap;
}

.botoes button {
    font-size: 14px;
    padding: 8px 12px;
}

.btn-concluir {
    background: #0984e3;
}

.btn-prioridade {
    background: #6c5ce7;
}

.btn-excluir {
    background: #d63031;
}