*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#121212;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:#1f1f1f;
}

.logo{
display:flex;
align-items:center;
gap:15px;
}

.logo img{
width:60px;
height:60px;
border-radius:50%;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

nav a:hover{
color:#ff3d3d;
}

main{
display:flex;
gap:30px;
padding:30px;
}

.filmes{
flex:3;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:#222;
border-radius:10px;
padding:15px;
text-align:center;
transition:.3s;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
height:320px;
object-fit:cover;
border-radius:10px;
}

button{
margin-top:15px;
padding:10px 20px;
background:#e50914;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#b20710;
}

aside{
flex:1;
background:#222;
padding:20px;
border-radius:10px;
height:fit-content;
}

aside h2{
margin-bottom:10px;
}

aside ul{
margin-bottom:20px;
padding-left:20px;
}

footer{
background:#1f1f1f;
text-align:center;
padding:20px;
margin-top:20px;
}