body {
background-color: #ffe4f1;
margin: 0;
font-family: Arial, sans-serif;
}

/* TÍTULO FOFO */
h1 {
color: #ff2d95;

```
/* 👇 Mude este valor para aumentar ou diminuir o título */
font-size: 70px;

text-align: center;
font-family: "Arial Rounded MT Bold", "Comic Sans MS", cursive;
text-shadow: 10px 10px 10px #ffb6d9;
margin-top: 20px;
```

}
