*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background:#1a1a1a;
    color:#f5f5f5;
    line-height:1.7;
}

/* CABEÇALHO */
header{
    background:linear-gradient(135deg, #8B0000, #c1121f);
    color:#ffd60a;
    text-align:center;
    padding:50px 20px;
    border-bottom:4px solid #ffd60a;
}

header h1{
    font-size:2.5rem;
    margin-bottom:10px;
    text-transform:uppercase;
}

header p{
    color:#fff;
    font-size:1.1rem;
}

/* MENU */
nav{
    background:#000000;
    border-bottom:3px solid #0033ff;
}

nav ul{
    display:flex;
    justify-content:center;
    list-style:none;
}

nav ul li a{
    display:block;
    padding:15px 25px;
    text-decoration:none;
    color:#004cff;
    font-weight:bold;
    transition:.3s;
}

nav ul li a:hover{
    background:#006eff;
    color:white;
}

/* CONTAINER */
.container{
    max-width:1200px;
    margin:auto;
    display:flex;
    gap:20px;
    padding:20px;
}

/* CARDS */
.card{
    background:#2a2a2a;
    padding:20px;
    border-radius:10px;
    border-left:5px solid #ffd60a;
    box-shadow:0 0 10px rgba(0,0,0,0.4);
    margin-bottom:20px;
}

.card h2{
    color:#ffd60a;
    margin-bottom:15px;
    border-bottom:2px solid #8B0000;
    padding-bottom:8px;
}

/* SIDEBAR */
aside{
    flex:1;
}

main{
    flex:3;
}

/* ÁREAS DE IMAGEM */
.imagem{
    background:linear-gradient(135deg,#8B0000,#c1121f);
    color:white;
    height:150px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    border-radius:8px;
    margin:15px 0;
}

/* PARÁGRAFOS */
p{
    color:#f0f0f0;
}

/* RODAPÉ */
footer{
    background:#0059ff;
    color:#0059ff;
    text-align:center;
    padding:20px;
    margin-top:30px;
    border-top:3px solid #00d9ff;
}

/* RESPONSIVO */
@media(max-width:768px){

    .container{
        flex-direction:column;
    }

    nav ul{
        flex-direction:column;
    }

    nav ul li a{
        text-align:center;
    }

    header h1{
        font-size:2rem;
    }
}