body {
    font-family: Arial;
    margin: 0;
}

/* Header */
header {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Nav */
nav {
    background: #444;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
    margin: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Layout */
main {
    display: flex;
    padding: 20px;
}

article {
    flex: 3;
    display: none;
}

article.ativo {
    display: block;
}

/* Galeria */
article img {
    margin: 10px;
    border-radius: 8px;
}

/* Aside */
aside {
    flex: 1;
    background: #eee;
    padding: 10px;
    margin-left: 20px;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}