body{
    margin:0;
    font-family:Arial;
    background:#111;
    color:white;
    text-align:center;
}

header{
    padding:80px 20px;
    background:linear-gradient(45deg,#6a00ff,#00c3ff);
}

h1{
    font-size:40px;
}

section{
    padding:30px;
}

.card{
    background:#222;
    margin:15px auto;
    padding:20px;
    width:250px;
    border-radius:15px;
    color: white;
}

.card:hover{
    background:#6a00ff;
}

footer{
    background:#000;
    padding:15px;
}

p{
    color: white;
}