h1{
}
header {
    border: 5px solid #880e0e;
    background-color: #0a63c2;
    color: #FFFFFF;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

img {
width:100%;
height: auto;
}

.artigo-autor {
font-weight: bold;
}