<style>
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }

    body{
        font-family: Arial, sans-serif;
        background-color:#cf0a0a;
        color:#1b0000;
    }

    header{
        background-color:#d40a0a;
        color:white;
        text-align:center;
        padding:20px;
    }

    nav{
        background-color:#af0c0c;
        text-align:center;
        padding:10px;
    }

    nav a{
        color:white;
        text-decoration:none;
        margin:0 15px;
    }

    .container{
        display:flex;
        gap:20px;
        padding:20px;
    }

    main{
        flex:3;
    }

    aside{
        flex:1;
        background:white;
        padding:15px;
    <    border-radius:10px;
        box-shadow:0 0 5px rgba(0,0,0,0.2);
        height:fit-content;
    }

    article{
        background:white;
        padding:20px;
        margin-bottom:20px;
        border-radius:10px;
        box-shadow:0 0 5px rgb(158, 15, 15);
    }

    article img{
        width:100%;
        max-width:400px;
        display:block;
        margin:10px auto;
    }

    footer{
        background:#af1111;
        color:white;
        text-align:center;
        padding:15px;
    }

    footer a{
        color:#fff;
    }
</style>