* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #006b3c;
    color: white;
}

/* Paisagem principal da Copa */
.paisagem {
    width: 100%;
    height: 100vh;

    background-image:
        linear-gradient(
            rgba(0, 80, 40, 0.45),
            rgba(0, 0, 0, 0.55)
        ),
        url("https://images.unsplash.com/photo-1579952363873-27f3bade9f55?auto=format&fit=crop&w=1600&q=80");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Caixa de conteúdo */
.conteudo {
    background-color: rgba(0, 50, 25, 0.75);
    padding: 40px;
    width: 80%;
    max-width: 700px;

    border-radius: 20px;
    border: 3px solid #ffd700;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

/* Título */
h1 {
    font-size: 55px;
    color: #ffd700;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #000;

    margin-bottom: 20px;
}

/* Texto */
p {
    font-size: 20px;
    line-height: 1.6;
}

/* Bola de futebol */
.bola {
    font-size: 60px;
    margin-bottom: 15px;
}

/* Botão */
.botao {
    display: inline-block;

    margin-top: 25px;
    padding: 15px 35px;

    background-color: #ffd700;
    color: #006b3c;

    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

    border-radius: 30px;

    transition: 0.3s;
}

/* Efeito ao passar o mouse */
.botao:hover {
    background-color: white;
    color: #006b3c;
    transform: scale(1.1);
}

/* Celular */
@media (max-width: 600px) {

    h1 {
        font-size: 35px;
    }

    p {
        font-size: 16px;
    }

    .conteudo {
        padding: 25px;
        width: 90%;
    }
}
