* {
                                MARGIN: 0;
                                PADDING: 0;
                                BOX-SIZING: BORDER-BOX;
                                }
                                BODY {
                                    FONT-FAMILY: ARIAL, HELVETICA, SANS-SERIF ;
                                }
                                HEADER {
                                    BACKGROUND-COLOR: #87B091 ;
                                    PADDING: 60PX;
                                    TEXT-ALIGN: CENTER;
                                    COLOR: BLACK;
                                    FONT-WEIGHT: BOLD;
                                  }

                                NAV  {
                                    DISPLAY: FLEX;
                                    BACKGROUND-COLOR: #333;
                                }
                                NAV A {
                                    COLOR: #FFF;
                                    PADDING: 10PX;
                                    TEXT-DECORATION: NONE;
                                    TEXT-ALIGN: CENTER;
                                }
                                NAV A :HOVER {
                                    BACKGROUND-COLOR: #DDD;
                                    COLOR: #000;
                                }
                                #ROW {
                                    DISPLAY: FLEX;
                                    FLEX-WRAP: WRAP;
                                }
                                .FAKEIMAGE {
                                 BACKGROUND-COLOR: #CCC;
                                 WIDTH: 200PX;
                                 HEIGHT: 150PX;
                                 DISPLAY: INLINE-BLOCK;
                                 MARGIN: 10PX;
                                 TEXT-ALIGN: CENCER;
                                 LINE-HEIGHT: 150PX;
                                 FONT-WEIGHT: BOLD;
                                 COLOR: #333;
                                 BORDER-RADIUS: 8PX;
                                }
                                ASIde {
                                    FLEX: 30%;
                                    BACKGROUND-COLOR: #F1F1F1;
                                    PADDING: 20PX;
                                }
                                MAIN {
                                    FLEX: 70%;
                                    BACKGROUND-COLOR: WHITE;
                                    PADDING: 20PX;
                                }
                                ARTICLE {
                                    BOX-SHADOW: 0PX 0PX 10PX #AAA;
                                    PADDING: 5PX;
                                    BORDER-RADIUS: 10PX;
                                }
                                ARTICLE IMG {
                                    WIDTH: 100%;
                                    MARGIN-TOP: 10PX;
                                    MARGIN-BOTTOM: 10PX;
                                    BORDER-RADIUS: 5PX;
                                }
                                ARTICLE IMG {
                                    WIDTH: 100%
                                    MARGIN-TOP: 10PX;
                                    MARGIN-BOTTOM: 10PX;
                                    BORDER-RADIUS: 5PX;
                                }
                                FOOTER {
                                    BACKGROUND-COLOR: #444;
                                    PADDING: 40PX;
                                    COLOR: #FFF;
                                    TEXT-ALING: Center;
                                    font-asize: 12px;
                                }
                                @media screen and (max-width: 400px) {
                                    nav{
                                    flex-direction: column;
                                }
                            }