body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;
}

header{
    background:#c00000;
    color:white;
    text-align:center;
    padding:25px;
}

nav{
    background:black;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}

nav a:hover{
    color:red;
}

main{
    width:80%;
    margin:30px auto;
}

.post{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

button{
    background:#c00000;
    color:white;
    border:none;
    padding:10px 20px;
    cursor:pointer;
    border-radius:5px;
    font-size:16px;
}

button:hover{
    background:#900000;
}

footer{
    background:black;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;
}