*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#fff8f0;
color:#444;
}

header{
background:#d35400;
color:white;
text-align:center;
padding:45px;
}

header h1{
margin-bottom:10px;
}

nav{
background:#8e4400;
display:flex;
justify-content:center;
flex-wrap:wrap;
}

nav a{
color:white;
text-decoration:none;
padding:15px 20px;
transition:0.3s;
}

nav a:hover{
background:#e67e22;
}

.container{
display:flex;
gap:20px;
padding:20px;
}

aside{
width:30%;
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 3px 10px rgba(0,0,0,.15);
}

aside h2{
margin-bottom:10px;
color:#d35400;
}

aside p{
margin-bottom:15px;
line-height:1.6;
}

aside img{
width:100%;
height:150px;
object-fit:cover;
margin-top:10px;
border-radius:10px;
}

main{
width:70%;
}

article{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:12px;
box-shadow:0 3px 10px rgba(0,0,0,.15);
transition:.3s;
}

article:hover{
transform:scale(1.02);
}

article h3{
color:#d35400;
margin-bottom:10px;
}

article p{
line-height:1.6;
}

article img{
width:100%;
height:320px;
object-fit:cover;
border-radius:10px;
margin:15px 0;
}

footer{
background:#8e4400;
color:white;
text-align:center;
padding:20px;
margin-top:20px;
}

@media(max-width:768px){

.container{
flex-direction:column;
}

aside,
main{
width:100%;
}

nav{
flex-direction:column;
}

nav a{
text-align:center;
}

}