body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.custom-gradient {
    background: linear-gradient(135deg, #0f051d 0%, #2e1065 50%, #4c1d95 100%);
}

.gold-gradient {
    background: linear-gradient(135deg, #f59e0b 0%, #fef3c7 25%, #d97706 50%, #fde68a 75%, #b45309 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}