{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box
}
body {
    background-color: rgb(234, 255, 248);
    color: #55a7f3;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
color: #000;
text-align: center;
}
p{
    color: #000;
    font-size: 18px;
}
h2 {
color: rgb(0, 0, 0);
text-align: initial;
}
