@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #88f72d5d;
    font-family: "Ruslan Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
    background-color: #db2727a8;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 3px #0000005d rgba( 0, 0, 0, 0.4);
    position: fixed;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.5s linear;
}

nav a :hover {
    background-color: forestgreen;
    color: #0000005d;
}

header {
    width: 100%;
    background-image: linear-gradient(to bottom, #000, #000);
    padding: 60px;
    color: white;
    text-align: center;
}

.ara {
    display: flex;
    flex-wrap: wrap;
}

.ara aside {
    flex: 30%;
    color: white;
    padding: 20px;
    background-color: darkolivegreen;
}

.ara main {
    flex: 70%;
}

.img-fake {
    width: 100%;
    height: 50px;
    margin: 5px 0px;
    background-color: darkseagreen;
}

.ca {background-color: rgba(252, 3, 3, 0.616);}

.conda {background-color: darkolivegreen;}

.care {background-color: saddlebrown;}

.pira {background-color: gray;}

.bala {background-color: firebrick;}

.rucu {background-color: indianred;}

.vam {background-color: rgba(116, 0, 0, 0.849);}

.elet {background-color: rgb(7, 105, 253);}

article {
    color: #ffffff;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

article image {
    width: 100%;
}

article .ara {
    font-weight: lighter;
    margin: 5px 0px 15px 0px;
}

article .ca {
    font-weight: lighter;
    margin: 5px 0px 15px 0px;
}

article .conda {
    font-weight: lighter;
    margin: 5px 0px 15px 0px;
}

article .care {
    font-weight: lighter;
    margin: 5px 0px 15px 0px;
}

article .pira {
    font-weight: lighter;
    margin: 5px 0px 15px 0px;
}

article .bala {
    font-weight: lighter;
    margin: 5px 0px 15px 0px;
}

article .rucu {
    font-weight: lighter;
    margin: 5px 0px 15px 0px;
}

article .vam {
    font-weight: lighter;
    margin: 5px 0px 15px 0px;
}

article .elet {
    font-weight: lighter;
    margin: 5px 0px 15px 0px;
}

footer {
    background-color: #000;
    color: aliceblue;
    padding: 30px;
    text-align: center;
}

@media screen and (max-width: 550px) {
    
    nav {
        flex-direction: column;
        position: relative;
    }
}