* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #222;
}

/* CABEÇALHO */

header {
    background: #111;
    color: white;
    padding: 20px 8%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #00ff88;
    font-size: 28px;
}

header button {
    background: #00ff88;
    color: #111;

    border: none;
    padding: 10px 18px;

    border-radius: 8px;
    cursor: pointer;

    font-weight: bold;
}

header button:hover {
    background: #00d977;
}

/* BANNER */

.banner {
    text-align: center;
    padding: 80px 20px;

    background: linear-gradient(135deg, #111, #333);
    color: white;
}

.banner h2 {
    font-size: 45px;
    margin-bottom: 15px;
}

.banner p {
    font-size: 20px;
    color: #ccc;
}

/* PRODUTOS */

.produtos {
    padding: 60px 8%;
}

.produtos h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}

/* LISTA */

.lista {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(220px, 1fr));

    gap: 25px;
}

/* CARD */

.produto {
    background: white;

    padding: 20px;

    border-radius: 15px;

    text-align: center;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

    transition: 0.3s;
}

.produto:hover {
    transform: translateY(-8px);

    box-shadow:
        0 12px 30px rgba(0, 0, 0, 0.18);
}

/* TÊNIS */

.tenis {
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 80px;

    margin-bottom: 15px;
}

/* NOME */

.produto h3 {
    font-size: 21px;
    margin-bottom: 10px;
}

/* PREÇO */

.preco {
    color: #16a34a;

    font-size: 22px;

    font-weight: bold;

    margin-bottom: 15px;
}

/* BOTÃO DO PRODUTO */

.produto button {
    width: 100%;

    padding: 12px;

    border: none;

    border-radius: 8px;

    background: #111;
    color: white;

    cursor: pointer;

    font-size: 16px;

    transition: 0.3s;
}

.produto button:hover {
    background: #00b863;
}

/* RODAPÉ */

footer {
    background: #111;
    color: white;

    text-align: center;

    padding: 25px;

    margin-top: 30px;
}

/* CELULAR */

@media (max-width: 600px) {

    header {
        padding: 15px 5%;
    }

    header h1 {
        font-size: 22px;
    }

    header button {
        padding: 8px 12px;
    }

    .banner {
        padding: 60px 20px;
    }

    .banner h2 {
        font-size: 32px;
    }

    .banner p {
        font-size: 16px;
    }

    .produtos {
        padding: 40px 5%;
    }
}