*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

 nav a {

 
 
        background-color: rgb(121, 121, 151);
         color: aliceblue;#ffffff;
         text-decoration: none;
         padding:  10px  15px;
          transition: all 0.5s linear;
 }
    nav a hover {

    
        background-color: rgb(201, 190, 176) ;
   color: rgb(53, 21, 196);
    }





